html {font-size:18px}

body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark {
  color:white;
  background-color:#1f2029;
  --text-color: #ffffff;
  --bkg-color: #1f2029;
}
body.light {
  color:black;
  background-color:white;
  --text-color: #000000;
  --bkg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #1f2029;
  }
  body.light {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}
#scrolltotop {position:fixed; bottom:20px; right:30px; z-index:99; 
  padding:15px; background-color:#1a4d80; opacity:0.5; 
  font-size:18px; color:white;
  border-style:none; border-radius:4px;
  display:none
}

.light h1,
.light p {color: #1f2029}
.dark h1
.dark p {color: white}


body {text-align:center}
.light .container {display:inline-block; margin:0%; padding:0px 0px 0px 0px;
  border-radius:30px; background-color:#EEE8AA}
.dark .container {display:inline-block; margin:0%; padding:0px 0px 0px 0px;
    border-radius:30px; background-color:#1f2029}

#header {height:100px; margin:1%; background-image:url('images/fejlec.png'); cursor:pointer}
h1,h2,h3,h4,h5 {padding:1%}
span, var {display:inline-block; width:auto}
.row {--bs-gutter-x: 0px }

.dark input {background-color:#1f2029; color:white}
.dark input:focus {background-color:#1f2029; color:white}
.dark select {background-color:#1f2029; color:white}
.dark select:focus {background-color:#1f2029; color:white}
.dark .form-control {background-color:#1f2029; color:white}
.dark textarea {background-color:#1f2029; color:white}
.dark a  {background-color:inherit; color:white}
.dark a:hover {background-color:inherit; color:white}
.dark .alert-warning {color:#1f2029;}
.dark .btn-primary {background-color:blue; color:white}
.dark .btn-secondary {background-color:silver; color:#1f2029}
.dark .btn-success {background-color:green; color:#1f2029}
.dark .btn-danger {background-color:red; color:#1f2029}
.dark .card {background-color:transparent; border-style:solid; border-color:white}
.dark .ck {color:black}

.light .ribbon-banner {color:white}

.page {min-height:600px; text-align:left; padding:1%}
.dekorImg {width:98%; }
.avatar {height:32px}
.light table {background-color:#edd79c; padding:0.3%;
  border-style:solid; border-width:1px;}
.dark table {background-color:#1f2029; padding:0.3%;
		border-style:solid; border-width:1px;}
img {margin:0.3%}		
button, .btn {margin-top:0.5%;}
.warning {background-color:red; color:yellow; padding:1%;}
.warning a {color:yellow;}
.form-control {display:inline-block; width:auto}
label {display:inline-block; width: 30%; text-align:right}

#popup {position:fixed; z-index:99; top:100px; left:100px; display:none;
  padding:10px; text-align:center; width:auto; height:auto;
  border-radius:5px;
  cursor: move}
.popupError {background-color:red; color:white}
.popupSuccess {background-color:rgb(80, 156, 96); color:rgb(24, 16, 16)}
.popupSimple {background-color:silver; color:#1f2029;}

nav {background-color:#1a4d80}
nav #submenu {background-color:#587088}

#receptForm {padding: 1% 1% 1% 1%}
#receptForm textarea {width:100%}
form {margin:1% 1% 1% 1%}

#receptShow .receptInfo {border-style:solid; border-width:1px; padding:1.5%}
#receptShow table {width:100%; border-style:none}
#receptShow td {border-style:solid; border-width:0px 0px 1px 0px; border-color:silver; padding:1%; }
#receptShow .uploadInfo {border-style:solid; border-width:1px 0px 1px 0px; padding:1%}
#receptShow .cimkek ul {list-style:none} 
#receptShow .cimkek li {display:inline-block; width:auto; margin:10px; padding:3px 10px 3px 10px;
  border-style:solid; border-width:1px; border-radius:18px} 
#receptShow .hozzavalok .button {display:inline-block; width:32px; text-align:center;
    border-style:solid; border-width:1px; cursor:pointer}  
#receptShow .hozzavalok .adag {display:inline-block; width:auto; padding:0px 5px 0px 5px; 
    text-align:center;  border-style:solid; border-width:1px 0px 1px 0px;}  

.receptKep {width:100%}

/* naptár */    
.light .van {background-color:green; padding:5px}
.light .van a {color:white; text-decoration:none }
.light .nincs {background-color:white; padding:5px}
.light .nincs a {color:blue; text-decoration:none }
.light .mainap {border-style:solid; border-width:2px; border-color:black}
.light .sajat a {color:blue; font-weight:bold}
.light .idegen a {color:#a0a0a0}
.dark .van {background-color:green; color: #21292c; padding:5px}
.dark .van a {color:white; text-decoration:none }
.dark .nincs {background-color:#21292c; color:white; padding:5px}
.dark .nincs a {color:blue; text-decoration:none }
.dark .mainap {border-style:solid; border-width:2px; border-color:white}
.dark .sajat a {color:blue; font-weight:bold}
.dark .idegen a {color:#a0a0a0}
.light .frisshir {background-color:orange; padding:10px; margin:5px; border-radius:10px}
.dark .frisshir {background-color:silver; padding:10px; margin:5px; border-radius:10px}

/* ckeditor included image */
figure.image {text-align:center}
figure.image-style-side img {float:right; width:40%}
#bloglist figure.image img,
#bloglist .blogBody img {width:300px}
#bloglist p,ul.ol,div {margin-bottom:0px;} }

/* user goups */
.light .admin {color: red}
.light .moderator {color:green}
.dark .admin {color: red}
.dark .moderator {color:green}

.light .comment {border-style:solid; border-width:1px; border-radius:5px;
  padding:0.5%; margin:0.3% 0.8% 0.3% 0%; background-color:#eee2a9; color: black; height:auto}
.dark .comment {border-style:solid; border-width:1px; border-radius:5px;
    padding:0.5%; margin:0.5% 0.8%, 0.3% 0%; background-color:rgb(44, 43, 43); color: black; height:auto}
 .comment p {margin-bottom:1px}
.commentImages {text-align:left; height:auto}
.comment img {width: 15%; margin:1% 1% 1% 1%}
.comments a {text-decoration:none}  
.comments .comentImages img {height:4%}
#commentForm img {width:80%; max-width:600px}

#osszegzes {padding: 1% 1% 1% 10%}
#osszegzes table {width:50%}
#bevasarloLista textarea {width:100%}

.paginator {display:inline-block; list-style: none;}
.paginator li {margin-right:0px;}
.light .paginator a {display:inline-block; text-decoration:none; color:black; 
  margin:0px; width:100%; height:100%} 
.dark .paginator a {display:inline-block; text-decoration:none; color:white; 
    margin:0px; width:100%; height:100%} 
.paginatorItem {display:inline-block; border-style:solid; border-width:1px; 
  width:32px; height:32px; text-align:center; margin:0px 2px 0px 0px; padding:0px;}
.light .actPaginatorItem {display:inline-block; border-style:solid; border-width:1px; 
    width:32px; height:32px; text-align:center; margin:0px 2px 0px 0px; padding:0px;
    background-color:silver}
.dark .actPaginatorItem {display:inline-block; border-style:solid; border-width:1px; 
      width:32px; height:32px; text-align:center; margin:0px 2px 0px 0px; padding:0px;
      background-color:orange}
  
.share a {display:inline-block; width:auto;
  background-color:blue; color:white; font-size:14px; font-weight:bolder; 
  border-radius:5px; padding:5px;}  
.share .icon {display:inline-block; background-color:white; color:blue;
  padding:1px 8px 1px 8px; border-radius:10px; margin:0px 5px 0px 0px}
  
.filterForm {border-style:solid; border-width:1px; padding:0.5%; width:auto}
.filterForm form, .filterForm div {width:auto}
.filterForm label {display:inline-block; width:15%; text-align:right; padding:0px 1% 0px 0px}
.filterForm button {margin-top:0px;}
.filterForm #filtercreator {width:180px}
.filterForm #filtercimke {width:180px}

#userForm input.password {width:40%; max-width:200px}
#atvaltasForm label {width:15%}

#receptList #receptListTable {width:100%}
#receptList .tdName {display:none}
#receptList #receptListTable table {display:block; width:100%; padding:5px;}
#receptList #receptListTable thead {display:none}
#receptList #receptListTable tbody {text-align:center}
#receptList #receptListTable tr {display:inline-block; width:180px; height:250px; padding:5px;
  border-style:solid; border-width:1px; margin:5px; text-align:center; overflow:hidden; border-radius: 8px;}
#receptList #receptListTable td {display:block;}
#receptList #receptListTable .id {display:none}
#receptList #receptListTable .dekor {display:none}
#receptList #receptListTable img {height:150px; max-width:150px; overflow:hidden; border-radius: 8px;}

.bloghead {border-style:solid; border-width:0px 0px 1px 0px}
.bloghead a {text-decoration:none}

.light #blog .comments {border-style:solid; border-width:1px; margin:5px; padding:5px;
  background-color:rgb(228, 173, 70)}
.dark #blog .comments {border-style:solid; border-width:1px; margin:5px; padding:5px;
    background-color:rgb(94 86 72);}
 #blog  .blogCommentList {border-style:solid; border-width:1px; border-radius:10px; 
  margin:2px; padding:2px; }
 /* loged user likolta: userlike_1, nem likolta: userlike_0 */ 
 #blog .ck-content {width:100%; height:600px}
 #blog img, #blogs img {max-width:90%}
 #blog .parentName {font-weight:bolder}
 #blog .answerComment {margin-left:8%; width: 90%}
 .blogBody table {width:90%}
 .blogBody td,
 .blogBody th {border-style:solid; border-width:1px}

 #receptEdit .ck-content {width:100%; height:600px}
 
 .likeLine a {text-decoration:none}
  
 .light .userlike_true {color:blue}
 .light .userlike_true:hover {color:blue}
 .light .userlike_false {color:rgb(86, 142, 146)}
 .light .userlike_false:hover {color:rgb(86, 142, 146)}
 .dark .userlike_true {color:blue}
 .dark .userlike_true:hover {color:blue}
 .dark .userlike_false {color:white}
 .dark .userlike_false:hover {color:white}

#likewinners {text-align:center}
#likewinners table {display:inline-block; width:auto; background-color:#2392d6; padding:20px; border-radius:10px}
#likewinners td {padding:10px;}
#likewinners a {color:white; text-decoration:none}
#likewinners .medal1 {color:#fcfc55}
#likewinners .medal2 {color:#e8e5d3}
#likewinners .medal3 {color:#8c8024}
#likewinners .medal4 {color:#60604b}
#likewinners .medal5 {color:#60604b}
#likewinners .medal6 {color:#60604b}
#likewinners .medal7 {color:#60604b}
#likewinners .medal8 {color:#60604b}
#likewinners .medal9 {color:#60604b}

#footer {background-color:#1a4d80; padding:20px; margin-top:5px;
  border-radius: 0px 0px 30px 30px; text-align:center}
#footer a {background-color:inherit}  
#footer a:hover {background-color:inherit}  

  
.ribbon-banner {
  display: table;
  width: auto;
  font-size: 24px;
  line-height: 1.1;
  position: relative;
  background: #1a4d80;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyOTI5MiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjODA4MDgwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTI5MjkyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1a4d80), color-stop(50%, #1a4d80), color-stop(100%, #1a4d80));
  background: -moz-linear-gradient(left, #1a4d80, #1a4d80, #1a4d80);
  background: -webkit-linear-gradient(left, #1a4d80, #1a4d80, #1a4d80);
  background: linear-gradient(to right, #1a4d80, #1a4d80, #1a4d80);
  color: #fff;
  text-align: center;
  padding: .3em 1em .3em;
  
  text-shadow: 0 1px 3px #1a4d80;
}
.ribbon-banner:before, .ribbon-banner:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.35em;
  border-width: 0.85em;
  
  border-color: #1a4d80;
  z-index: -1;
}
.ribbon-banner:before {
  left: -1em;
  border-right-width: 1.5em;
  border-left-width: 0.5em;
  border-left-color: transparent;
}
.ribbon-banner:after {
  right: -1em;
  border-left-width: 1.5em;
  border-right-width: 0.5em;
  border-right-color: transparent;
}
.ribbon-banner span:before,
.ribbon-banner span:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #1a4d80 transparent transparent transparent;
  bottom: -0.35em;
}
.ribbon-banner span:before {
  left: 0;
  border-width: 0.35em 0 0 1em;
}
.ribbon-banner span:after {
  right: 0;
  border-width: 0.35em 1em 0 0;
}

.fancy {
  --b: 6px;   /* control the border thickness */
  --w: 350px;  /* control the width of the line*/
  --g: 15px;  /* control the gap */
  --c: #1a4d80;
 
  width: 30%;
  padding: 0 1em;
  margin-top: 5px;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  text-align:center;
  background: 
    conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
    conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: 
     linear-gradient(
       #0000      calc(50% - var(--b)/2),
       var(--c) 0 calc(50% + var(--b)/2),
       #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
}
/* admin felület */

.inIframe table {background-color:transparent}
.inIframe #receptList #receptListTable tbody {display:block; width:100%}
.inIframe #receptList #receptListTable tr {display:block; width:100%; height:auto; 
    margin:1px 10px 1px 1px; text-align:left}
.inIframe #receptList #receptListTable td {border-style:none; height:auto; text-align:left;}
.inIframe #receptList #receptListTable td .imgContainer {height:46px; width:100px}
.inIframe #receptList #receptListTable td img {height:42px;}
.inIframe #receptList #receptListTable td div {display:inline-block; width:auto;}
.inIframe #receptList #receptListTable td div.likeLine {display:inline-block; width:auto; margin-left:10px}
.inIframe #blogList {border-style:solid; border-width:1px; padding:5px}
.inIframe #blogList .blogBody {display:none}

/* phone */
@media screen and (max-width: 992px) {
  label,
  .filterForm label {display:block; width:100%; float:left; text-align:left}
  h5.fancy {width:80%} 
  #receptList tr {height:40px}
  #userek li {height:40px}
  #atvaltasok li {height:40px}
  #szinonimak li {height:40px}
  #mertekegysegek li {height:40px}
  #cimkek li {height:40px}
  .searchBtn span {display:none}
}


@media print {
    .dark body, .light body, body {background-color:white; color:black}
    h1,h2,h3,h4 {font-size:18px; font-weight: bold}
    #header {display:none; height:0px;}
	 .page {min-height:14px; text-align:left; padding:10px; font-size:14px}
    nav {display:none; height:0px;}
    /* img {display:none; height:0px;} */
    button {display:none; height:0px;}
    .help {display:none; height:0px;}
    .warning {display:none; height:0px;}
    textarea {border-style:none; }
	.receptKep {height:100px; width:auto; float:right}
	#footer, #footer section, #footer div {display:none}
	.btn-toggle {display:none}
	#osszegzes {display:block; width:50%; margin:0px; padding:0px; float:right}
	#bevasarloLista {display:block; width:50%; margin:0px; padding:0px; float:left}
}
