html {font-size:18px}
body {text-align:center}
.container {display:inline-block; margin:10px; padding:0px 0px 0px 0px; 
            border-radius:30px; background-color:#d0f0d0}
#header {height:100px; margin:20px; background-image:url('images/fejlec.png')}
.page {min-height:600px; text-align:left; padding:10px}
.dekorImg {width:98%; }
table {background-color:white; padding:5px;
		border-style:solid; border-width:1px;}
img {margin:5px}		
button {margin-top:10px;}
#receptForm {padding: 20px 20px 20px 20px}
#receptForm textarea {width:100%}
form {margin:10px 10px 10px 20px}
.van {background-color:green; padding:5px}
.van a {color:white; text-decoration:none }
.nincs {background-color:white; padding:5px}
.nincs a {color:blue; text-decoration:none }
.mainap {border-style:solid; border-width:2px; border-color:black}
.receptKep {width:98%}
.sajat a {color:blue; font-weight:bold}
.idegen a {color:#a0a0a0}
#osszegzes {padding: 10px 10px 10px 100px}
#osszegzes table {width:50%}
#bevasarloLista textarea {width:100%}

.warning {background-color:red; color:yellow; padding:10px;}
.warning a {color:yellow;}

.paginator {display:inline-block; list-style: none;}
.paginator a {text-decoration:none; color:black;}
.paginatorItem {display:inline-block; border-style:solid; border-width:1px; 
  width:32px; height:32px; text-align:center; margin:0px; padding:2px;}
.actPaginatorItem {display:inline-block; border-style:solid; border-width:1px; 
    width:32px; height:32px; text-align:center; margin:0px; padding:2px;
    background-color:silver}
  
.filterForm {border-style:solid; border-width:1px; padding:5px; width:auto}
.filterForm form, .filterForm div {width:auto}
.filterForm label {display:inline-block; width:120px; text-align:right;}
.filterForm button {margin-top:0px;}

#footer {background-color:silver; padding:20px; 
  border-radius: 0px 0px 30px 30px; text-align:center}

@media print {
	 h1,h2,h3,h4 {font-size:18px; font-weight: bold}
    #header {display:none; height:0px;}
	 .page {min-height:14px; text-align:left; padding:10px; font-size:14px}
    nav {display:none; height:0px;}
    /* img {display:none; height:0px;} */
    button {display:none; height:0px;}
    .help {display:none; height:0px;}
    .warning {display:none; height:0px;}
    textarea {border-style:none; }
	.receptKep {height:100px; width:auto; float:right}
	#footer {display:none}
	
	#osszegzes {display:block; width:50%; margin:0px; padding:0px; float:right}
	#bevasarloLista {display:block; width:50%; margin:0px; padding:0px; float:left}
}