
body.dark {background-color:#1f2029; color:white;}
body.dark a {color:#E0E0E0 }
body.dark .header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a {color:#E0E0E0; border-radius: 8px;}

#popup {position:fixed; z-index:99; background-color:silver; opacity:1;
	padding:1%;
	top:30%; left:30%; width:auto; height:auto}

.header-area {padding-left:4%}
.header-area .delicious-main-menu {height:95px;}
.header-area .delicious-main-menu .classy-navbar {height:95px;}
.header-area img {max-width:100px}
.avatar {height:32px}
.header-area .delicious-main-menu .classy-navbar .classynav > ul > li > a.active {background-color:green; color:white; border-radius: 8px;}
.header-area  .smLoged {display:none}

.dark #classy-menu {background-color:#303030; border-radius: 8px;}

.dark .card {background-color:transparent; border-style:solid; border-color:white; background-color:#565656;}

.dark .header-area .top-header-area {background-color: transparent; color:white}
.dark .header-area .top-header-area a {background-color: transparent; color:white}

.hero-area  {display:block; margin: 1% 1% 1% 1%; 
	padding:1px 1px 1px 1px; line-height:16px; height:600px; overflow:hidden}
.hero-slides .single-hero-slide {height:600px;  overflow:hidden}
.hero-slides .single-hero-slide	.hero-slides-content {height:550px;}
.hero-slides .single-hero-slide .hero-slides-content p {
        font-size: 20px;
        margin-left: 40px;
        margin-bottom: 10px;
        color: #ffffff; 
        line-height:150%}

.single-top-catagory {height:400px; color:white}
.single-top-catagory p {color:white}
.single-top-catagory img {height:100%}

#frissHir {margin:15px -5px; padding:10px; border-style:none; background-color:#565656; color:white; border-radius: 8px;}
#frissHir img {max-width:300px;}
#frissHir p, .frissHir div, .frissHir h1, .frissHir h2, .frissHir h3, .frissHir h4,
#frissHir a, .frissHir a:hover {color: white}

.single-best-receipe-area {height:280px; text-align:center}
.single-best-receipe-area img {width:80%; height:170px}

.single-small-receipe-area {height: 110px}
.single-small-receipe-area img {width: 100px; height: 100px}
 
.leiras ul li {list-style:disc}
.form-control {display:inline-block; width:220px; float:none; background-color:white}
.nice-select {min-width:auto; float:none; background-color:white}
label {display:inline-block; width:250px; max-width:250px; text-align:left}

.ratings {color:orange}
.ratings .none {color:#ffffff}

.page {margin:0px 5% 0px 5%; padding:1%; background-color:#F0F0F0; border-radius: 8px;}
.dark .page {background-color:#303030; border-radius: 8px;}

.row {margin:0px 0px 0px 0px}
a:hover {color:#40ba37; text-decoration:none}
h1,h2,h3,h4,h5  {color:#40ba37; display:inline-block; width:auto; clear:both; flex:none;
	font-size: 20px; padding:3px}
.nice-select {height:36px; line-height:36px}	
.ribbon-banner  {display:inline-block; width:auto; clear:both; flex:none;
	padding:5px 10px 5px 10px; background-color: #40ba37; color:white; }
.formBUttons, .formButtons {margin-top:1%}
.ck-content {height:350px; color:black}

#paginator {display:block; width:100%}
.paginator {display:block; width:100%}
.paginator li {display:inline-block; list-style:none; border-style:none; border-width:0px; margin:0px; width:auto;}
.paginator .paginatorItem,
.paginator .paginatorItem2  {border-style:solid; border-width:1px; padding: 2px; margin:1px}
.paginator .actPaginatorItem {border-style:solid; border-width:1px; padding: 2px; margin:1px;
	background-color:#40ba37; color:white}
.paginator li a,
.paginator li var,
.paginator li strong {margin:10px; width:30px; text-align:center; cursor:pointer}

.comments {display:block; width:100%; clear:both; flex:none; 
	padding:5px; margin:10px 0px 10px 0px;
	border-style:solid; border-width:1px}
.comment, .blogCommentList {border-style:solid; border-width:0px 0px 2px 0px; border-color:#40ba37; 
	border-radius: 0.5% 0.5% 0% 0%; 
	margin:0.8%; padding:0.8%; width:99%;
	background-color: silver}
.answerComment	 {margin-left:5%; width:95%}
.comments img {max-width:20%}

#login form {margin-bottom:10px}
#regist form, #regist a {margin-bottom:10px}

#receptList .dekor {display:none}
#receptListTable {display:block; clear:both; width:100%; max-width:100%;
	margin:0px 0px 10px 0px;flex:none; text-align:center}
#receptListTable table {display:block; clear:both}
#receptListTable thead {display:none;}
#receptListTable .id {display:none;}
#receptListTable tr {display:inline-block; width:auto}
#receptListTable td {display:inline-block; width:160px; height:250px; max-width:160px; max-height:250px;
	overflow:hidden; text-align:center}
#receptListTable td .name:hover {color:#40ba37}
#receptListTable img {height:150px; width:150px; border-radius: 8px; 
	border-style:solid; border-width: 0px 0px 6px 0px; border-color: #40ba37}

#receptShow {padding:2%}
#receptShow h2,
#receptShow h3 {font-size:20px;}
#receptShow img {width:400px; max-width:100%; height:auto}
#receptShow #hozzavalokTable {display:inline-block; clear:both; width:500px; max-width:100%;
	margin:0px 0px 10px 0px;flex:none; border-style:none}
#receptShow .hozzavalok {display:inline-block; width:500px; max-width:100%;}
#receptShow .cimkek {display:inline-block; width:400px; max-width:100%;}
#receptShow .leiras {display:inline-block; width:400px; max-width:100%; }
#receptShow .uploadInfo {margin-bottom:5px; display:inline-block; width:400px; max-width:100%;}
#receptShow .likeLine {margin-bottom:5px; display:inline-block; width:400px; max-width:100%;}
#receptShow form {margin-bottom:10px}
#receptShow #hozzavalokTable tr {border-style:none; height:auto;}
#receptShow #hozzavalokTable td {border-style:solid; padding:5px; border-width:1px}
#receptShow .button  {display:inline-block; border-style:solid; border-width:1px; cursor:pointer}
#receptShow .adag {display:inline-block; width:auto;}
#receptShow .cimkek li {display:inline-block; width:auto; margin:2px; padding:2px;
	border-style:solid; border-width:1px; border-radius:10px;}
.cimkeRoot {background-color:transparent; min-width:120px;}
.cimkeChildren {background-color:transparent}
.cimkeToglerIcon {border-style:solid; border-width:1px; padding:1px; width:20px; height:20px}
.cimkeRoot ul {position:absolute; z-index:10; padding:3px;
	width:auto; min-width:150px; height:auto; background-color:silver;}
.nice-select .list {max-height:400px; overflow:scroll}	

#blogList .bloghead {border-style:solid; border-width:1px;
	margin:5px; padding:5px;}

/* nptár */
.van {background-color:#40ba37; color:white}	
.van a {background-color:#40ba37; color:white}	
.van a:hover {color:orange}

#likewinners {background-color:#ab9ed8; color:white; padding:1%}
#likewinners td {padding:0.5%}
#likewinners h3 {color:white}
#likewinners .medal1 {background-color:brown; border-radius:10px; padding:5px; color:#f9f490; }
#likewinners .medal2 {background-color:brown; border-radius:10px; padding:5px; color:white; }
#likewinners .medal3 {background-color:brown; border-radius:10px; padding:5px; color:#edb96d; }

#footer {padding:5px 20px 5px 20px}
#footer i, #footer a {display:inline-block; margin-right:20px;}
#cookieEnabled {text-align:center}

#adminBody tr {display:block; width:100%}
#adminBody td {height:80px; max-height:80px; width:auto;}
#adminBody td img {height:auto; max-height:100%; }
#userek #receptListTable {text-align:left}


@media screen and (max-width: 990px) {
	/* itt  a főmenü már ikonizálva */
	.header-area .smLoged {display:inline-block; width:auto;}
}

/* phone */
@media screen and (max-width: 992px) {
	.paginatorItem {display:none} 
	.pgFirst, .pgPrev, .pgNext, .pgLast {display:inline-block}
	#receptListTable td {display:inline-block; width:160px; height:auto; max-width:160px; max-height:300px;
		overflow:hidden; text-align:center}
	#receptListTable img {height:150px; width:150px; 
		border-style:solid; border-width: 0px 0px 6px 0px; border-color: #40ba37}
}
  

@media print {
    .dark body, .light body, body {background-color:white; color:black}
    h1,h2,h3,h4 {font-size:18px; font-weight: bold}
    #header {display:none; height:0px;}
	 .page {min-height:14px; text-align:left; padding:10px; font-size:14px}
    nav {display:none; height:0px;}
    /* img {display:none; height:0px;} */
    button {display:none; height:0px;}
    .help {display:none; height:0px;}
    .warning {display:none; height:0px;}
    textarea {border-style:none; }
	.receptKep {height:100px; width:auto; float:right}
	#footer, #footer section, #footer div, #scrollUp, #cookieEnabled {display:none}
	.btn-toggle {display:none}
	#osszegzes {display:block; width:50%; margin:0px; padding:0px; float:right}
	#bevasarloLista {display:block; width:50%; margin:0px; padding:0px; float:left}
}

.ffa{
	vertical-align:middle;
	margin-top:0px;
	position:absolute;
	overflow:visible;
	margin-left:5px;
}
.ffa .fa-tree{
	/*color:#306A40;*/
	color:#237039;
	font-size:38px !important;
	position:relative;
	z-index:2;
}
.ffa .fa-star{
	position:absolute;
	z-index:2;
	color:#EEDD22;
	font-size:9px;
	top:-7px;
	left:12px;
}
.ffa .fa-asterisk{
	position:absolute;
	z-index:2;
	font-size:5px;
}
.ffa .l1{
	top:7px;
	left:9px;	
	color:#22EEEE;
	animation:l1a 1.7s alternate infinite; 
	-webkit-animation:l1a 1.7s alternate infinite; 
}
.ffa .l2{
	top:13px;
	left:15px;	
	color:#EE4422;
	animation:l2a 1.7s alternate infinite; 
	-webkit-animation:l2a 2.0s alternate infinite; 
}
.ffa .l3{
	top:17px;
	left:22px;	
	color:#FFDD22;
	animation:l3a 1.7s alternate infinite; 
	-webkit-animation:l3a 1.9s alternate infinite; 
}
.ffa .l4{
	top:18px;
	left:5px;	
	color:#DDFF22;
	animation:l4a 1.7s alternate infinite; 
	-webkit-animation:l4a 1.8s alternate infinite; 
}
.ffa .l5{
	top:24px;
	left:15px;	
	color:#11FF22;
	animation:l5a 1.7s alternate infinite; 
	-webkit-animation:l5a 2.2s alternate infinite; 
}
.ffa .l6{
	top:28px;
	left:25px;	
	color:#DD22EE;
	animation:l6a 1.7s alternate infinite; 
	-webkit-animation:l6a 2.1s alternate infinite; 
}
.ffa .fa-gift{
	position:absolute;
	z-index:1;
	cursor:pointer;
}
.ffa .fa-gift.g1{
	color: #f92341;
    font-size: 9px;
    top: 33px;
    left: 2px;
}
.ffa .fa-gift.g2{
    color: #ffb203;
    font-size: 7px;
    top: 36px;
    left: 8px;
    z-index: 3;
}
.ffa .fa-gift.g3{
    color: #2d9dec;
    font-size: 9px;
    top: 34px;
    left: 20px;
    z-index: 3;
}

@keyframes l1a
{
50%{color:#FFDD22;text-shadow:0 0 2px #FFDD22;}
} 
@keyframes l2a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
} 
@keyframes l3a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
} 
@keyframes l4a
{
50%{color:#FF55FF;text-shadow:0 0 2px #FF55FF;}
} 
@keyframes l5a
{
50%{color:#FF55FF;text-shadow:0 0 2px #FF55FF;}
} 
@keyframes l6a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
} 

@-webkit-keyframes l1a
{
50%{color:#FFDD22;text-shadow:0 0 2px #FFDD22;}
} 
@-webkit-keyframes l2a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
} 
@-webkit-keyframes l3a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
} 
@-webkit-keyframes l4a
{
50%{color:#FF55FF;text-shadow:0 0 2px #FF55FF;}
} 
@-webkit-keyframes l5a
{
50%{color:#FF55FF;text-shadow:0 0 2px #FF55FF;}
} 
@-webkit-keyframes l6a
{
50%{color:#55FFFF;text-shadow:0 0 2px #55FFFF;}
}

.gft{
	text-shadow:0 0 0px #E02040;
	font-size:15px !important;
	animation:gftt 1.4s linear 0s infinite alternate; 
	/*-webkit-animation:gft 2.0s alternate infinite; */
}
@keyframes gftt
{
	from{text-shadow:-1px -1px 3px #262d37, 1px 1px 3px #262d37, 0px 0px 2px #262d37, 0 0 4px #E02040;}
	to{text-shadow:-1px -1px 3px #262d37, 1px 1px 3px #262d37, 0px 0px 2px #262d37, 0 0 12px #E02040, 0 0 12px #E02040, 0 0 12px #E02040;}
} 
/*
@-webkit-keyframes gft
{
50%{text-shadow:0 0 22px #E02040 !important;}
}*/