		
		<div id="blogs">
			<div class="alert alert-danger" v-if="errorMsg != ''" v-html="lng(errorMsg)"></div>
			<div class="alert alert-success" v-if="successMsg != ''" v-html="lng(successMsg)"></div>
			<div class="row">
				<div class="col-10">
					<h1 class="ribbon-banner"><span>{{ lng('BLOGS') }}</span></h1>
				</div>
				<div class="col-2">
					<a href="#" id="filterFormToggle" v-on:click="filterFormShow()"
						class="btn btn-secondary" style="margin-right:2px"  v-bind:title="lng('SEARCH')">
						<em class="fa fa-search"></em>
					</a>
				</div>
			</div>	
			<div class="row">&nbsp;</div>

			<div class="filterForm" id="divFilterForm" style="display:none">
				<form method="get" action="index.php" id="filterForm" class="form">
					<input type="hidden" name="task" value="blogs" />
					<input type="hidden" name="page" value="1" />
					<div>
						<label>{{ lng('TITLE_SUBSTR') }}:</label>
						<input type="text" name="titlestr" id="titleStr" 
							   v-model="filter.titleStr" class="form-control"/>
					</div>
					<div>
						<label>{{ lng('BODY_SUBSTR') }}:</label>
						<input type="text" name="bodystr" id="bodyStr" 
							   v-model="filter.bodyStr" class="form-control"/>
					</div>
					<div>
						<label>{{ lng('CREATOR_NAME') }}:</label>
						<input type="text" name="creatorname" id="creatorName" 
							   v-model="filter.creatorName" class="form-control"/>
					</div>
					<div>
						<label>{{ lng('CREATED_BY_GE') }}:</label>
						<input type="date" name="createdat" id="createdAt" 
							   v-model="filter.createdAt" class="form-control"/>
                        &nbsp;&nbsp;       
                        <div style="display:inline-block; width:auto">
						    <button type="submit" class="btn btn-primary searchBtn">
								<em class="fa fa-search"></em>&nbsp;<span>{{ lng('SEARCH') }}</span></button>
						    <button type="button" v-on:click="delFilter()" 
								v-bind:title="lng('CLEARFILTER')" class="btn btn-secondary">X</button>&nbsp;
                        </div>               
					</div>	
				</form>
			</div>
			<div class="row">
				<div id="blogList" class="col-md-12">
                    <div class="bloghead" v-for="blog in blogs">
                        <a v-bind:href="HREF('blog',{blog_id:blog.id})">
                            <h3>{{ blog.title }}</h3>
                            <p><img v-bind:src="blog.creator.avatar" class="avatar" />
                                &nbsp;
                                {{ blog.createdAt }} <span v-bind:class="blog.creator.group">{{ blog.creator.name }}</span>  
                            </p>
                            <div class="blogBody" v-html="blog.body"></div>
                        </a>
                        <p>{{ lng('COMMENT_COUNT') }}: {{ blog.commentCount }}
							&nbsp;&nbsp;&nbsp;		
                           <em class="fas fa-thumbs-up"></em>&nbsp; {{ blog.likeCount }} 
                        </p>
                    </div>
                </div>    
				include paginator
			</div>
			<div style="text-align:center" v-if="loged > 0">
				<a v-bind:href="HREF('addblog',{id:0})" class="btn btn-primary">
					<em class="fas fa-plus-circle"></em>&nbsp;{{ lng('ADD') }}</a>
			</div>
		</div>	

<script>
    var methods = {
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        },
		filterFormShow() {
			var d = document.getElementById('divFilterForm');
			d.style.display = 'block';
			document.getElementById('filterFormToggle').style.display='none';
			return false;	
		},
		delFilter() {
            document.getElementById('titleStr').value = '';
            document.getElementById('bodyStr').value = '';
			document.getElementById('creatorName').value = '';
			document.getElementById('createdAt').value = '';
			document.getElementById('filterForm').submit();
		},
        afterMount() {
			if (this.errorMsg == undefined) this.errorMsg = '';
			if (this.successMsg == undefined) this.successMsg = '';
			window.setTimeout('app.afterShow()',1000);
        },
		afterShow() {
			// szükség esteén a filter Form megjelenítése
			console.log(app.filter);
			if ((app.filter.titleStr != '') | 
			    (app.filter.bodyStr != '') | 
				(app.filter.creatorName != '') |
				(app.filter.createdAt != '')) {
				console.log('AAAA');	
				app.filterFormShow();
			}
		}
    }

 </script>       
