
<div id="blog" class="edit">
    <div class="alert alert-danger" v-if="errorMsg != ''" v-html="lng(errorMsg)"></div>
    <div class="alert alert-success" v-if="successMsg != ''" v-html="lng(successMsg)"></div>
    <div class="row">
        <div class="col-12">
            <h2>{{ lng('BLOG') }}</h2>	
            <h3 v-if="blog.id == 0">{{ lng('ADD')}}</h3>		
            <h3 v-if="blog.id > 0">{{ lng('EDIT')}}</h3>		
        </div>
    </div>
    <form id="blogForm" action="index.php" method="post">
        <input type="hidden" value="blogsave" name="task" />			
        <input type="hidden" v-model="blog.id" name="id" />
        <input type="hidden" name="flowKey" v-model="flowKey" />
        <div class="row">
                <div class="col-md-3 col-sd-12">
                    <label>{{ lng('TITLE') }}:</label>			
                </div>
                <div class="col-md-8 col-sd-12">
                    <input type="text" required="required" v-model="blog.title"
                     id="title" name="title" 
                     class="form-control" style="width:100%" />
                     <br /><br />
                </div>
                <div class="col-md-3 col-sd-12">
                    <label>{{ lng('BODY') }}:</label>			
                </div>
                <div class="col-md-8 col-sd-12">
                    <textarea v-model="blog.body"
                     id="body" name="body" style="height:600px"></textarea> 
                </div>
                <div class="col-12">
                    Támogatott video linkek: youtube,vimeo,tiktok
                </div>
                
                <div class="col-12">
                    <img v-bind:src="blog.creator.avatar" class="avatar" />
                    &nbsp;{{ blog.createdAt }}
                    &nbsp;{{ blog.creator.name }}
                </div>
        </div><!-- .row -->
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" v-on:click="okClick()">
                    <em class="fas fa-check"></em>&nbsp;{{ lng('SAVE') }}
                </button>
                &nbsp;
                <a href="index.php?task=blogs" class="btn btn-secondary">
                    <em class="fas fa-reply"></em>&nbsp;{{ lng('CANCEL') }}
                </a>
            </div>
        </div>
           
    </form>

</div> <!-- blogForm-->

<script>
var methods = {
        delClick() {
			popupConfirm('Bitos, törölni akarod ezt a cikket? ('+this.blog.id+')', function() {
				document.location = 'index.php?task=delblog&blog_id='+app.blog.id;		
			});
		},
        afterMount() {
            console.log(ClassicEditor);
            if (window.editor == undefined) {

                ClassicEditor
                .create( document.querySelector( 'textarea#body' ), {
                    // toolbar: [ 'heading', '|', 'bold', 'italic', 'link']
                    language: 'hu',
                    extraPlugins: [ MyCustomUploadAdapterPlugin ],
                    mediaEmbed: {
                        extraProviders: [
                        {
                                name: 'tiktok',
                                url: /^tiktok\.com\/(.+)/,
                                html: match => `video: https://tiktok.com/${ match[ 1 ] }`
                            },
                            {
                                name: 'fb_watch',
                                url: /^fb\.watch\/(.+)/,
                                html: match => `fb.watch video`
                            },
                            {
                                name: 'facebook',
                                url: /^facebook\.com\/(.+)/,
                                html: match => `facebook video`
                            },
                            {
                                name: 'other',
                                url: /(.+)/,
                                html: match => `other video`
                            }
                            
                        ]
            		}
                } )
                .then( editor => {

                    window.editor = editor;
                    console.log(editor);
                } )
                .catch( err => {
                    console.error( err.stack );
                } );
            }
        },
        okClick() {
            var errorMsg = '';
            if (document.getElementById('title').value == '') {
                errorMsg += lng('TITLE_REQUESTED')+'<br>';
            }
            if (window.editor.getData() == '') {
                errorMsg += lng('BODY_REQUESTED')+'<br>';
            }
            if (errorMsg != '') {
                popupMsg(errorMsg,'popupError');
            } else {
                document.getElementById('blogForm').submit();
            }
        }
};   
</script>
