<div id="cimkek">
    <div v-if="errorMsg != ''" class="alert alert-danger">
        <div v-html="errorMsg"></div>
    </div>
    <div v-if="successMsg != ''" class="alert alert-success">
        <div v-html="successMsg"></div>
    </div>
    
    <h2 class="ribbon-banner"><span><em class="fa fa-sitemap" aria-hidden="true"></em>&nbsp;Cimkék</span></h2>
    <ul>
        <li v-for="record in items" v-if="logedAdmin">
            <a v-bind:href="'index.php?task=cimkeedit&id='+record.id+'&browserUrl='+encodeURI(browserUrl)">{{ record.cimke }}</a> 
        </li>
        <li v-for="record in items" v-if="!logedAdmin">
            {{ record.cimke }}
        </li>
    </ul>
    include paginator
    <div v-if="logedAdmin">Modosításhoz, törléshez kattints a cimkére!<br />
        <a v-bind:href="'index.php?task=cimkeadd&browserUrl='+encodeURI(browserUrl)" class="btn btn-primary">
            <em class="fas fa-plus"></em>&nbsp;Új cimke</a>
        </a>
    </div>    
</div>

<script>
    methods = {
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        }
    }
</script>
