<div>
    <a href="index.php?task=impresszum">Imresszum</a>&nbsp;&nbsp;&nbsp;
    <a href="index.php?task=adatkezeles" style="color:white;">Adatkezelési leírás</a>&nbsp;&nbsp;&nbsp;
    <a href="index.php?task=visszaeles" style="color:white;">Visszélés jelzése</a>&nbsp;&nbsp;&nbsp;
    <a href="index.php?task=licensz" style="color:white;">Licensz</a>&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/utopszkij/szakacskonyv" target="_new" style="color:white;">Forrás program</a>&nbsp;&nbsp;&nbsp;
    <div style="color:white;">Ⓒ 2022 Minden jog fenntartva.</div>
</div>
