    <div id="homedelicious">
    <!-- ##### Hero Area Start ##### -->
	<section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Leírás</h2>
                                <div data-animation="fadeInUp" data-delay="700ms">
									<p>A programba étel recepteket és napi menüket lehet felvinni.</p>
									<p>Ezek alapján a program adott időszak összesített anyagszükségleteit tudja meghatározni. 
									Ebből bevásárló listát lehat a program segitségével készíteni.</p>
								</div>
                                <a href="index.php/task/receptek" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Receptek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Tulajdonságok</h2>
                                <div data-animation="fadeInUp" data-delay="700ms">
										<p>Recepthez hozzávalók, elkészítési leírás és kép vihető fel,</p>
										<p>napi menübe naponta max. 4 fogás vihető fel, megadható hány főre főzünk aznap,</p>
										<p>A receptekhez hozzászólást lehet írni (pl: megfőztem, jó ), 
											a hozzászóláshoz max 3 db kép is csatolható (pl a saját "alkotásom" fényképei).
											A hozzászólások és csatolt képek minden látogató számára láthatóak. 
											Törölni, modosítani csak a feltöltő, a moderátorok és a rendszer adminisztrátorok tudják őket.
										</p>			
								</div>
                                <a href="index.php/task/receptek" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Receptek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg7.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Információk</h2>
                                <div data-animation="fadeInUp" data-delay="700ms">
									<p>A program konfigurálható egyfelhasználós vagy többfelhasználós módba.</p>
									<p>Több felhasználós módban mindenki csak a sajátmaga által felvitt napi menüket 
									látja és ezeket kezelheti, az összesítés is ezek alapján készül. A recepteknél 
									látja, használhatja a mások által felvitteket is, de modosítani, törölni csak a 
									sajátmaga által felvitteket tudja. Illetve a rendszer adminisztrátorok és moderátorok 
									módosíthatják, törölhetik az összes receptet. A hozzászólások mindenki számára láthatóak</p>
									<p></p>
									<p><strong>A felhasználók által felvitt receptek, hozzászólások és képek tartalmáért, a kizárólag
									az azokat felvivő felhasználó a felelős, a program szerzője és üzemeltetője
									ezekkel kapcsolatban semmilyen felelősséget nem vállal.</strong></p>									
								</div>
                                <a href="index.php/task/receptek" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Receptek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->



    <!-- ##### Top Catagory Area Start ##### -->
    <section class="top-catagory-area section-padding">
        <div class="container">
            <div class="row frissHir">
                <!-- Top Catagory Area -->
                <div class="col-12">
                    <div>
                        <!-- Content -->
                        <div v-html="frissHir"></div>
                    </div>
                </div>
            </div>    
            <div class="row">
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg2.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
   										<p>egy recepthez max 30 hozzávaló adható meg,</p>
										<p>a program támogatja a mindmegette.hu, receptneked.hu, topreceptek.hu, sutnijo.hu -ról 
											történő adatátvételt,</p>
										<p>a receptek módosíthatóak, törölhetőek,</p>
										<p>ha a recepthez képet nem adunk meg akkor a program a recept neve 
										alapján megpróbál a net-en képet keresni,</p>

                            <a href="receipe-post.html" class="btn delicious-btn">Receptek</a>
                        </div>
                    </div>
                </div>
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg3.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
										<p>a receptek kinyomtathatóak,</p>		
										<p>a napi menük módosíthatóak, törölhetőek,</p>			
										<p>a számított hozzávaló összesítés (bevásárló lista), nyomtatás előtt módosítható
										(pl. törölhető amiből "van a spájzban").</p>
										<p>Az össesítés optimális müködése érdekében a program egy "szinonima szótárat" és 
											"átváltási adatbázist" kezel. Ezek tartalmát csak a rendszer adminisztrátorok módosíthatják.
										</p>
                            <a href="receipe-post.html" class="btn delicious-btn">Receptek</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Legújabb receptek</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4" v-for="(item,i) in news">
                    <div class="single-best-receipe-area mb-30" v-if="i <= 8">
                        <img v-bind:id="'img_'+item.id" alt="">
                        <div class="receipe-content">
                            <a v-bind:href="'index.php/task/recept/is/'+item.id">
                                <h5>{{ item.nev }} {{ item.likes }}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 1"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 1"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 2"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 2"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 3"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 3"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 4"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 4"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 5"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2>További ajánlott receptek</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Small Receipe Area Start ##### -->
    <section class="small-receipe-area section-padding-80-0">
        <div class="container">
            <div class="row">

                <!-- Small Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4" v-for="(item,i) in news">
                    <div class="single-small-receipe-area d-flex" v-if="i > 8">
                        <!-- Receipe Thumb -->
                        <div class="receipe-thumb">
                            <img v-bind:id="'img_'+item.id" alt="">
                        </div>
                        <!-- Receipe Content -->
                        <div class="receipe-content">
                            <span>{{ item.created_at }}</span>
                            <a v-bind:href="'index.php/task/recept/id/'+item.id">
                                <h5>{{ item.nev }}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 1"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 1"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 2"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 2"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 3"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 3"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 4"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 4"></i>
                                <i class="fa fa-star" aria-hidden="true" v-if="item.likes >= 5"></i>
                                <i class="fa fa-star none" aria-hidden="true" v-if="item.likes < 5"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Small Receipe Area End ##### -->

    <!-- ##### Quote Subscribe Area Start ##### 
    <section class="quote-subscribe-adds">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-lg-4">
                    <div class="quote-area text-center">
                        <span>"</span>
                        <h4>Nothing is better than going home to family and eating good food and relaxing</h4>
                        <p>John Smith</p>
                        <div class="date-comments d-flex justify-content-between">
                            <div class="date">January 04, 2018</div>
                            <div class="comments">2 Comments</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="newsletter-area">
                        <h4>Subscribe to our newsletter</h4>
                        <div class="newsletter-form bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Subscribe to newsletter">
                                <button type="submit" class="btn delicious-btn w-100">Subscribe</button>
                            </form>
                            <p>Fusce nec ante vitae lacus aliquet vulputate. Donec sceleri sque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="delicious-add">
                        <img src="img/bg-img/add.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    < !-- ##### Quote Subscribe Area End ##### -->
    </div>
    <script>
        var methods = {
            afterMount() {
                this.newsOpened = true;
                this.sliderId = -1;
                // window.receptImages = [];
                // a recept képek betöltése
                // window.onscroll = function() {window.scrollFunction(); app.scrollFunction()};
                window.setTimeout('app.scrollFunction()',1000);
            },
            makeTrClass(item) {
                trClass = '';
                if (item.created_by == this.loged) {
                    trClass = 'sajat';
                } else {
                    trClass = 'idegen';
                }
                return trClass;    
            },
            loadImg1(id) {
                // window.scroll esemény hívja 
                // az app.receptImages -ből a még nem betöltött, 
                // és az adott scroll pozicióban látszó képeket tölri be
                var w = document.getElementById('img'+id);
                if (!w) {
                    w = document.getElementById('img_'+id);
                }
                if (w) {
                    if (w.src == '') {
                        w.src = siteurl+'/images/loader.gif';
                        axios.get(siteurl+'/index.php?task=getImage&id='+id)
                        .then(function(response) {
                            response.data = response.data.replace('\n','');
                            response.data = response.data.replace('\r','');
                            var w = document.getElementById('img'+id)
                            if (w) {
                                w.src = response.data.replace('\n','');
                            }	
                            w = document.getElementById('img_'+id);
                            if (w) {
                                w.src = response.data.replace('\n','');
                            }	
                        })
                    }
                }
            },
            scrollFunction() {
				for (var i = 0; i < app.news.length; i++) {
					app.loadImg1(app.news[i].id);
				}	
            }    
        }
        // https://www.w3schools.com/css/css3_animations.asp
     </script>       
    
