<div id="login" class="form">
    <div class="alert alert-danger" v-if="msg != ''">
        {{ msg }}
    </div>
    <div style="text-align:center">
            <h1 class="ribbon-banner" style="display:inline-block;">
                <em class="fas fa-sign-in-alt"></em>&nbsp;
                <span>{{ lng('LOGIN') }}</span>
            </h1>
            <br /><br />    
        <form name="login" action="index.php?task=dologin" method="post" class="form">
        <input type="hidden" name="task" value="dologin" />
        <input type="hidden" name="redirect" v-model="redirect" />
        <i class="fa fa-user"></i>&nbsp; 
            <input type="text" name="username" class="form-control" autofocus 
            v-bind:placeholder="lng('NICKNAME')" required="true" />
        <br /><br />
        <i class="fa fa-key"></i>&nbsp; 
            <input type="password" name="password" 
            v-bind:placeholder="lng('PASSWORD')" required="true" class="form-control"/>
        <br /><br />
        <button type="submit" class="btn btn-success" style="width:250px" name="submit">
            <em class="fas fa-check"></em>&nbsp;{{ lng('OK') }}
        </button>    
        <br /><br />
        <a v-bind:href="'https://netpolgar.hu/auth/facebook?state='+SITEURL+'/'+atob(redirect)"
            class="btn btn-primary" style="width:250px"> 
            <em class="fab fa-facebook"></em>&nbsp;{{ lng('FBLOGIN') }}			
        </a>
        <br /><br />
        <a v-bind:href="'https://netpolgar.hu/auth/google?state='+SITEURL+'/'+atob(redirect)" 
            class="btn btn-secondary" style="width:250px"> 
            <em class="fab fa-google"></em>&nbsp;{{ lng('GOOGLELOGIN') }}			
        </a>
        </form>
        <div class="alert alert-info">{{ lng('REGISTHELP2') }}</div>
        <div class="row">
            <div class="col-12">
                <a v-bind:href="SITEURL+'/task/regist/redirect/'+redirect">
                    {{ lng('DOREGIST') }}
                </a>
            </div>
        </div>        
    </div>
</div>

<script>
	methods = {
		atob(s) {
			if ((s != '') & (s != undefined))  {
			  return window.atob(s);
			} else {
			  return '';
			}
		}
	};
</script>	
