<div>
	<nav class="navbar navbar-expand-lg navbar-dark" id="fomenu">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- a v-if="logedAvatar != ''" class="nav-link navbar-toggler"
                  v-bind:href="HREF('useredit',{id:loged})">
                  <img v-bind:src="'images/users/'+logedAvatar"
                      style="height:34px; margin:0px; float:right" />
                  <var v-bind:class="logedGroup">
                      {{ logedName }}
                  </var>
          </a -->
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="index.php">
                <em class="fas fa-home"></em>&nbsp;{{ lng('HOME') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" v-bind:href="HREF('receptek',{page:1})">
                <em class="fas fa-book"></em>&nbsp;{{ lng('RECEPTS') }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" v-bind:href="HREF('osszeg',{})">
                <em class="fas fa-plus"></em>&nbsp;{{ lng('DOTOTAL') }}</a>
              </li>
              <!-- li class="nav-item">
                <a class="nav-link" __v-bind:__href="HREF('blogs',{'page':1})">
                <em class="fas fa-feather"></em>&nbsp;{{ lng('BLOGS') }}</a>
              </li -->
              
              <li class="nav-item">
                  <var class="nav-link" onclick="submenuToggle()" 
                      style="cursor:pointer">
                       <em class="fas fa-tools"></em>&nbsp;{{ lng('SETUP') }}
                  </var>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="submenu">
                          <a class="dropdown-item" v-bind:href="HREF('userek',{})" v-if="MULTIUSER">
                            {{ lng('USERS') }}
                          </a>
                          <a class="dropdown-item" v-bind:href="HREF('atvaltasok',{})">{{ lng('TRANLATIONS') }}</a>
                          <a class="dropdown-item" v-bind:href="HREF('szinonimak',{})">{{ lng('ALIASES') }}</a>
                          <a class="dropdown-item" v-bind:href="HREF('mertekegysegek',{})">{{ lng('UNITS') }}</a>
                          <a class="dropdown-item" v-bind:href="HREF('cimkek',{})">{{ lng('LABELS') }}</a>
                      </div>
              </li>	
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 text-right">
                  <li class="nav-item" v-if="MULTIUSER & (loged <= 0)">
                    <a v-bind:href="HREF('login',{})" class="btn btn-info" role="button">
                            <em class="fas fa-sign-in-alt"></em>&nbsp;{{ lng('LOGIN') }}</a>
                  </li>
                  <li class="nav-item" v-if="MULTIUSER & (loged > 0)">
                    <a v-bind:href="HREF('logout',{})" class="btn btn-info" role="button">
                      <em class="fas fa-sign-out-alt"></em>&nbsp;{{ lng('LOGOUT') }}</a>
                  </li>&nbsp;
                  <li class="nav-item">
                    <a v-bind:href="HREF('regist',{})" class="btn btn-info" role="button">
                      <em class="fas fa-key"></em>&nbsp;{{ lng('REGISTRATION') }}</a>
                  </li>
            </ul>
          </div>
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0 text-right">
                  <li class="nav-item" v-if="loged > 0">
                      <a class="nav-link"
                          v-bind:href="HREF('useredit',{id:loged})">
                          <em class="fas fa-address-card"></em>
                          <var v-bind:class="logedGroup"> 
                              {{ logedName }}
                              <img v-if="logedAvatar != ''"
                                   v-bind:src="'images/users/'+logedAvatar"
                                    style="height:34px; margin:0px;" />
                          </var>
                      </a>
                  </li>
          </ul>
      </nav>
      <div class="warning" v-if="(lastVerzio > fileVerzio) & (MULTIUSER) & (isAdmin)">
          <a v-bind:href="HREF('upgrade1',{version:lastVerzio})" 
              class="btn btn-primary">
              {{ lng('NEWVERSION') }} {{ lastVerzio }} 
          </a>
      </div>	
</div>

<script>

</script>