<div class="alert alert-danger" v-if="loged <= 0">
    Napimenü felviteléhez, modosításhoz, törléséhez be kell jelentkezni!
</div>	
<div id="napmenu" v-if="loged > 0">
    <div class="alert alert-danger" v-if="loged <= 0">Napi menü felviteléhez be kell jelentkezni!</div>	
    <div class="row">
        <div class="col-md-6">
        <form id="menuForm" action="index.php" class="form">
            <input type="hidden" value="menusave" name="task" />			
            <input type="hidden" v-model="nap" name="nap" />
            <input type="hidden" v-model="ho" name="ho" />
            <input type="hidden" v-model="ev" name="ev" />
            <h2>{{ ev+'.'+ho+'.'+nap }} napi menü</h2>
            <div class="form-outline mb-4">
                <input type="number" name="adag" class="form-control"
                     v-model="rec.adag" style="display:inline-block; width:60px" /> adag
                <br /><br />	
            </div>	
            <div class="form-outline mb-4">
                <select name="recept1" style="width:90%" v-model="rec.recept1" class="form-control">
                    <option value="0"></option>
                    <option v-for="recept in receptek" v-bind:value="recept.id">{{ recept.nev }}</option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <select name="recept2" style="width:90%" v-model="rec.recept2" class="form-control">
                    <option value="0"></option>
                    <option v-for="recept in receptek" v-bind:value="recept.id">{{ recept.nev }}</option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <select name="recept3" style="width:90%" v-model="rec.recept3" class="form-control">
                    <option value="0"></option>
                    <option v-for="recept in receptek" v-bind:value="recept.id">{{ recept.nev }}</option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <select name="recept4" style="width:90%" v-model="rec.recept4" class="form-control">
                    <option value="0"></option>
                    <option v-for="recept in receptek" v-bind:value="recept.id">{{ recept.nev }}</option>
                </select>
            </div>
            
            <div class="form-outline mb-4">
                A legtöbb főétel receptje nem tartalmazza a köretet. Szükség esetén azt
                külön sorban válaszd ki!
            </div>
                    
            <div class="form-outline mb-4" v-if="loged > 0">
                <button type="submit" class="btn btn-primary">
                <em class="fas fa-check"></em>&nbsp;Tárolás</button>
                &nbsp;
                <button type="button" v-if="rec.id > 0" 
                    v-on:click="delClick()" class="btn btn-danger">
                    <em class="fas fa-ban"></em>&nbsp;Napi menü törlése</button>
            </div>
        </form>
        </div>
        <div class="d-none d-lg-inline col-md-6">
            <img src="images/dekor1.jpg" class="dekorImg" />
        </div>
    </div>	

</div>

<script>
    var methods = {
        delClick() {
            popupConfirm('Biztos, hogy törölni akarod ezt a napi menüt?', 
            function() {
                document.location = 'index.php?task=menuDelete&id='+app.rec.id+';';
            });			
        }	
    }; 
    var afterMount = function() {
    };   
</script>