<!-- paginator include használt VUE változók: pages, page, total ,task  -->
                <p>Összesen: {{ total }}</p>
                <ul class="paginator" v-if="pages.length > 1">
					<li style="display:inline-block; width:auto" v-if="page > 2">
						<span :class="makePaginatorClass(1,page)">
                            <a v-bind:href="'index.php?task='+task+'&page=1'"
								title="Első">
                                &lt;&lt;
                            </a>
                        </span>
					</li>
					<li style="display:inline-block; width:auto" v-if="page > 1">
						<span :class="makePaginatorClass(1,page)">
                            <a v-bind:href="'index.php?task='+task+'&page='+(parseInt(page) - 1)"
								title="Elöző">
                                &lt;
                            </a>
                        </span>
					</li>
                    <li v-for="p in pages" style="display:inline-block; width:auto">
                        <span :class="makePaginatorClass(p,page)"
							v-if="((p >= Math.min((parseInt(page) - 2), (pages.length - 5))) & (p <= Math.max((parseInt(page) + 2), 5)))"> 
                            <a v-bind:href="'index.php?task='+task+'&page='+p" v-if="p != page">
                                {{ p }}
                            </a>
                            <strong v-if="p == page">{{ p }}</strong>
                        </span>
                    </li>
					<li style="display:inline-block; width:auto" v-if="page < pages.length">
						<span :class="makePaginatorClass(1,page)">
                            <a v-bind:href="'index.php?task='+task+'&page='+(parseInt(page) + 1)"
								title="Következő">
                                &gt;
                            </a>
                        </span>
					</li>
					<li style="display:inline-block; width:auto" v-if="page < (pages.length - 1)" >
						<span :class="makePaginatorClass(1,page)">
                            <a v-bind:href="'index.php?task='+task+'&page='+pages.length"
								title="Utolsó">
                                &gt;&gt;
                            </a>
                        </span>
					</li>
                </ul>	
