<div id="adatkezeles">
  <em class="fas fa-lock" style="font-size:64pt; float:right"></em>
  <h1>Adatkezelési leírás</h1>
  <p>A program személyes adatokat nem kezel.</p>	
  <p>Kezelt adatok:</p>	
  <p>bejelentkezési név, jelszó, recept adatok, napi menük, hozzászólások</p>	
  <p></p>	
  <p>A jelszót magát a program nem tárolja a szerveren, csak annak "hash" kódját tárolja.</p>	
  <p></p>	
  <p>A recept adatok (név, hozzávalók, leírás, kép) minden a web oldalra 
      látogató számára láthatóak.</p>	
  <p>A hozzászólások (szöveg plusz képek) inden a web oldalra 
      látogató számára láthatóak.</p>
  <p>A napi menü adatokat csak az látja aki azokat felvitte.</p>
  <p>A recept adatokat csak az azokat felvivő, a rendszergazdák és a moderátorok modosíthatják törölhetik.</p>
  <p>A hozzászólásokat csak az azokat felvivő, a rendszergazdák és a moderátorok modosíthatják törölhetik.</p>
  <p>A napi menü adatokat csak az azokat felvivő módosíthatja, törölheti</p>
  <p>Az összesítések eredményeit és az ezekből kialakított bevásárló listákat
  a program nem tárolja. Azokat csak az összesítést lekérő felhasználó látja.</p>	
</div>

