		<div id="receptList">
			<div class="row">
				<h1 class="ribbon-banner"><span>{{ lng('RECEPTS') }}</span></h1>
			</div>	
			<div class="row">&nbsp;</div>

			<div class="filterForm">
				<form method="get" action="index.php" id="filterForm" class="form">
					<input type="hidden" name="task" value="receptek" />
					<input type="hidden" name="page" value="1" />
					<div>
						<label>{{ lng('NAME_SUBSTR') }}:</label>
						<input type="text" name="filterstr" id="filterstr" 
							   v-model="filterStr" class="form-control"/>
					</div>
					<div>
						<label>{{ lng('LABEL') }}:</label>
						<select name="filtercimke" id="fi</span>ltercimke" 
							   v-model="filterCimke" class="form-control">
							<option value=""></option>	   
							<option v-for="cimke in cimkek" v-bind:value="cimke">{{ cimke }}</option>
						</select>	   
					</div>
					
					<div>
						<label></label>
						<input type="text" name="filtercreator" id="filtercreator"
							v-model="filterCreator" class="form-control" /> {{ lng('UPLOADER') }}
					</div>		
					<div>
						<label></label>
						<input type="date" name="filtercreated" id="filtercreated"
							v-model="filterCreated" class="form-control" /> {{ lng('AFTER_UPLOAD') }}
						<button type="submit" class="btn btn-primary">
								<em class="fa fa-search"></em>&nbsp;{{ lng('SEARCH') }}</button>
						<button type="button" v-on:click="delFilter()" 
								v-bind:title="lng('CLEARFILTER')" class="btn btn-secondary">X</button>
					</div>	
				</form>
			</div>	
			<div class="row">	
				<div id="receptListTable" class="col-md-8">
					<table style="width:100%">
						<thead>
							<tr><td>ID</td><td>{{ lng('NAME') }}</td></tr>		
						</thead>
						<tbody>
							<tr v-for="item in list" class="makeTrClass(item)">
								<td>
									<a v-bind:href="HREF('recept',{id:item.id,title:item.nev})">
										<img v-bind:src="item.image" /><span class="id">{{ item.id }}</span>
									</a>
								</td>
								<td><a class="name" v-bind:href="HREF('recept',{id:item.id,title:item.nev})">{{ item.nev }}</a></td>
                            </tr>    
						</tbody>
					</table>
					<div class="d-none d-md-inline col-md-4">
						<img class="dekor" src="images/dekor1.jpg" class="dekorImg" />
					</div>	
				</div>
				include paginator
			</div>
			<p>{{ lng('RECEPTSHELP') }}</p>
			<div style="text-align:center" v-if="loged > 0">
				<a v-bind:href="HREF('recept',{id:0})" class="btn btn-primary">
					<em class="fas fa-plus-circle"></em>&nbsp;{{ lng('ADD') }}</a>
			</div>
			<div v-if="loged <= 0">{{ lng('ADD_MUST_LOGIN') }}</div>

		</div>	

<script>
    var methods = {
        makeTrClass(item) {
            trClass = '';
			if (item.created_by == this.loged) {
				trClass = 'sajat';
			} else {
				trClass = 'idegen';
			}
            return trClass;    
        },
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        },
		delFilter() {
					document.getElementById('filterstr').value = '';
					document.getElementById('filtercreator').value = '';
					document.getElementById('filtercreated').value = '';
					document.getElementById('filtercimke').value = '';
					document.getElementById('filterForm').submit();
		}
    }

 </script>       