<div class="alert alert-danger" v-if="loged == 0">
   {{ lng('UPDATE_MUST_LOGIN') }}
</div>	

<div id="receptEdit" class="edit" style="display:none">
    <form id="receptForm" action="index.php?task=receptsave" method="post" 
        enctype="multipart/form-data">
        <input type="hidden" value="receptsave" name="task" />			
        <input type="hidden" v-model="receptId" name="id" />
        <input type="hidden" v-model="flowKey" name="flowKey" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-outline mb-4">
                    <h2>{{ lng('RECEPT') }}<h2>			
                </div>
                <div class="form-outline mb-4 d-inline d-md-none">
                    <img v-if="kep != ''" v-bind:src="kep" class="receptKep" class="receptKep" />				
                </div>
                <div class="form-outline mb-4">
                    <label>{{ lng('NAME') }}:</label>			
                </div>
                <div class="form-outline mb-4">
                    <input type="text" v-model="recept.nev"
                     id="nev" name="nev" :disabled="disabled != ''"
                     class="form-control" style="width:100%" />
                </div>

                <div class="form-outline mb-4" v-if="disabled == ''">
                    <a href="https://mindmegette.hu" target="_new">mindmegette.hu</a> {{ lng('OR') }} 
                    <a href="https://receptneked.hu" target="_new">receptneked.hu</a> {{ lng('OR') }} 
                    <a href="https://nosalty.hu" target="_new">nosalty.hu</a> 
                    {{ lng('TRANSVER') }}
                </div>
                <div class="form-outline mb-4" v-if="disabled == ''">
                    <input type="text" id="paste" class="form-control" style="width:80%" />
                    <button type="button" class="btn btn-secondary"
                        v-on:click="processPaste()">
                        <em class="fa fa-cogs"></em>&nbsp;{{ lng('PROCESS') }}</button>
                </div>
                
            </div>
            <div class="d-none d-md-inline col-md-4">
                    <img v-if="kep != ''" v-bind:src="kep" class="receptKep" class="receptKep" />				
            </div>
        </div><!-- .row -->

        <div class="row">
            <div class="col-10">
            {{ lng('BUILDTIME') }}:    
            <input type="number" min="1" max="400" 
                name="elkeszites" id="elkeszites" v-model="recept.elkeszites"
                style="display:inlne-block; width:100px"  class="form-control"/> perc&nbsp;&nbsp;
            {{ lng('ENERGY') }}:
                <input type="number" min="1" max="400" 
                    name="energia" id="energia" v-model="recept.energia"
                    style="display:inlne-block; width:100px"  class="form-control"/> J/{{ lng('PORCIO') }}
            </div>    
        </div>
        <div class="row" id="hozzavalok">
            <div class="form-outline col-mb-10">
                <h2>{{ lng('INGREDIENTS') }}     
                    <input type="number" min="1" max="20" 
                        name="adag" id="adag" v-model="recept.adag" 
                        style="display:inline-block; width:80px;" placeholder="4"  class="form-control" />
                adaghoz</h2>
            </div>
            <table style="width:100%" cellspacing="0" cellpadding="0" id="hozzavalokTable">
            <thead>
            <tr><th>{{ lng('NAME') }}</th><th>{{ lng('QUANTITY') }}</th><th>{{ lng('UNIT') }}</th></tr>    
            </thead>    
            <tbody>
            <tr class="form-outline col-mb-10 hozzavalo" v-for="(hozzavalo, i) in hozzavalok">
                <td>
                <textarea cols="60" :disabled="disabled != ''"
                    v-model="hozzavalo.nev" 
                    v-bind:name="makeName('hozzavalo',i)" 
                    v-bind:id="makeName('hozzavalo',i)"
                    v-bind:rows="(hozzavalo.nev.length / (innerWidth / 15)) + 1.4"
                    v-on:change="hozzavaloChange(makename('hozavalo',i))"
                    class="form-control"></textarea>
                <datalist id="alapanyagok">
                      <option v-for="nev in nevek">{{ nev.nev }}</option>
                </datalist>
                </td>
                <td style="width:90px">
                <input type="number" min="0" max="100000" step="0.1" 
                   :disabled="disabled != ''"
                   v-model="hozzavalo.mennyiseg"
                   v-bind:name="makeName('mennyiseg',i)" style="width:90px"
                   v-bind:id="makeName('mennyiseg',i)"  class="form-control"/>			
                </td>
                <td style="width:125px">
                <input style="width:125px" 
                   :disabled="disabled != ''" 
                   v-bind:name="makeName('me',i)"
                   v-bind:id="makeName('me',i)"
                   v-model="hozzavalo.me" class="form-control"
                   list="mes" />	
                <datalist id="mes">
                    <option value="?">?</option>		
                    <option value="db">db</option>		
                    <option value="csomag">csomag</option>		
                    <option value="tábla">tábla</option>		
                    <option value="fej">fej</option>		
                    <option value="g">g</option>		
                    <option value="dkg">dkg</option>		
                    <option value="kg">kg</option>		
                    <option value="ek">ek</option>		
                    <option value="tk">tk</option>		
                    <option value="kk">kk</option>		
                    <option value="csipet">csipet</option>		
                    <option value="ml">ml</option>		
                    <option value="dl">dl</option>		
                    <option value="l">l</option>
                    <option value="bögre">bögre</option>
                    <option value="pohár">pohár</option>
                    <option value="pár">pár</option>		
                    <option value="gerezd">gerezd</option>		
                    <option value="fej">fej</option>		
                    <option value="szelet">szelet</option>		
                    <option value=""></option>		
                </datalist>
                </td>
            </tr>
            </tbody>
            </table>				
        </div>
        <div class="row">
            <div class="cimke" style="display:inline-block; width:auto;" v-for="cimke in cimkek">
                <input type="checkbox" v-bind:id="cimke" v-bind:name="cimke" value="1" :disabled="disabled != ''" />
                {{ cimke }}&nbsp;
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" v-on:click="addHozzavalo">
                + {{ lng('INGREDIENT') }}</button>
        </div>
        <p>{{ lng('RECEPTHELP1') }} </p>
        <div class="col-12">
            <h3>{{ lng('BUILDING') }}</h3>			
            <p>Támogatott video linkek: https://youtu.be/code és https://vimeo.com/code</p>
            <textarea name="leiras" id="leiras"
            :disabled="disabled != ''" 
            cols="40" rows="15" v-model="recept.leiras"></textarea>
            <p>{{ lng('IMGFILE') }}</p>
            <input type="file" name="kepfile" :disabled="disabled != ''" />			
        </div>
        
        <div class="col-12" v-if="recept.id > 0">
            <hr />
            <h3>{{ lng('UPLOADINFO') }}</h3>
            <img v-bind:src="'images/users/'+creator.avatar" v-if="creator.avatar != ''"
                style="height:32px; width:auto" />&nbsp;
            {{ recept.created_at }}&nbsp;
            <var v-bind:class="creator.group">
                 {{ creator.username }} 
            </var>
            <hr />
        </div>				
            
        <div class="form-outline mb-4">
            <button type="button" class="btn btn-success"
                v-if="((recept.id == 0) | 
                (recept.created_by == loged) |
                (logedAdmin) | (logedGroup == 'moderator'))" 
                v-on:click="okClick()">
            <em class="fas fa-check"></em>&nbsp;{{ lng('SAVE') }}</button>
            &nbsp;
            <a href="index.php?task=receptek" class="btn btn-secondary">
                <em class="fas fa-reply"></em>&nbsp;{{ lng('CANCEL') }}
            </a>
            &nbsp;
            <button type="button" class="btn btn-secondary"
                v-if="recept.id > 0"
                v-on:click="printClick(receptId)">
                <em class="fas fa-print"></em>&nbsp;{{ lng('PRINT') }}</button>
                &nbsp;
                <button type="button" class="btn btn-danger"
                    v-if="((loged > 0) &
                    ((recept.created_by == loged) | 
                     (logedAdmin)))"
                    v-on:click="delClick()">
                        <em class="fas fa-ban"></em>&nbsp;{{ lng('DELETE') }} 
                </button>
        </div>
    </form>
</div> <!-- recept edit-->

<div id="receptShow" class="show">
    <div class="row">
        <div class="col-md-8">
            <div class="form-outline mb-4">
                <h2 class="ribbon-banner">
					<span>{{ lng('RECEPT') }}</span>&nbsp;
                </h2>
            </div>
            <div class="form-outline mb-4 d-inline d-md-none">
                <img v-if="kep != ''" v-bind:src="kep" class="receptKep" class="receptKep" />				
        </button>

            </div>
            <div class="form-outline mb-4">
                <h3><em class="fas fa-utensils"></em>&nbsp;{{ recept.nev}}
                    <var id="favorit" style="display:none; color:green"> 
                        <em class="fas fa-heart"></em>
                    </var>        
                </h3>
            </div>
            <div v-if="!disabled">
                <button type="button" class="btn btn-primary" v-on:click="editClick">
                    <em class="fas fa-edit" title="szerkesztes"></em>&nbsp;{{ lng('EDIT') }}
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger"
                    v-if="((loged > 0) &
                    ((recept.created_by == loged) | 
                     (logedAdmin)))"
                    v-on:click="delClick()">
                        <em class="fas fa-ban"></em>&nbsp;{{ lng('DELETE') }} 
                </button>
            </div>
        </div>
        <div class="d-none d-md-inline col-md-4">
                <img v-if="kep != ''" v-bind:src="kep" class="receptKep" class="receptKep" />				
        </div>
    </div><!-- .row -->

    <div class="row" v-if="((recept.elkeszites > 0) | (recept.energia > 0))">
        <div class="col-12  receptInfo">
            <span v-if="recept.elkeszites > 0">
                <em class="fas fa-clock"></em>&nbsp;{{ lng('BUILDTIME') }}: {{ recept.elkeszites }}&nbsp;perc
            </span>
            &nbsp;
            <span v-if="recept.energia > 0">
                <em class="fas fa-fire"></em>&nbsp;{{ lng('ENERGY') }}: {{ recept.energia }} J/{{ lng('PORCIO') }}
                &nbsp;({{ Math.round(recept.energia / 4.187 ) }} cal/{{ lng('PORCIO') }})
            </span>
        </div>    
    </div></br>
    <div class="row hozzavalok">
        <h2 class="ribbon-banner"><span><em class="fas fa-puzzle-piece"></em>&nbsp;{{ lng('INGREDIENTS') }}
            <div class="button" v-on:click="adagMinusClick()">
                &nbsp;-&nbsp;
            </div>    
            <div class="adag">
                    {{ recept.adag }} 
            </div>   
            <div  class="button" v-on:click="adagPlusClick()">
                &nbsp;+&nbsp;
            </div>    
             {{ lng('PORCIO') }}</span></h2>
        <table cellspacing="0" cellpadding="0" id="hozzavalokTable">
        <tr class="hozzavalo" v-for="(hozzavalo, i) in hozzavalok">
            <td v-if="hozzavalo.nev != ''">{{ hozzavalo.nev }}</td>
            <td v-if="hozzavalo.nev != ''" style="width:250px; text-align:right">
                {{ hozzavalo.mennyiseg }} {{ hozzavalo.me }}
            </td>
        </tr>
        </table>				
    </div>
    <div class="row cimkek">
        <div class="col-12">
            <ul>
                <li v-for="receptCimke in receptCimkek">{{ receptCimke.cimke }}</li>
            </ul>
        </div>
    </div>
    <div class="row leiras" v-if="recept.leiras != ''">
        <h2 class="ribbon-banner"><span><em class="fas fa-cogs"></em>&nbsp;{{ lng('BUILDING') }}</span></h2>
        <div class="col-12" v-html="recept.leirasHtml"></div>
    </div>
    
    <div class="row uploadInfo" v-if="recept.id > 0">
        <h2 class="ribbon-banner"><span><em class="fas fa-upload"></em>&nbsp;{{ lng('UPLOADINFO') }}</span></h2>
        <div class="col-12">
            <img v-bind:src="'images/users/'+creator.avatar" v-if="creator.avatar != ''"
                style="height:32px; width:auto" />
            {{ recept.created_at }} 
            <span v-bind:class="creator.group+' creatorName'">
                {{ creator.username }} 
            </span>
        </div>
    </div>

    <div class="form-outline mb-4">
        <button type="button" class="btn btn-secondary"
        v-if="recept.id > 0"
        v-on:click="printClick(receptId)">
        <em class="fas fa-print"></em>&nbsp;{{ lng('PRINT') }}</button>&nbsp;
        <a class="btn btn-success" id="addFavorit" style="display:none"
        v-bind:href="HREF('addtofavorit',{'recept_id':recept.id})">
            <em class="fas fa-heart"></em>&nbsp;Kedvencekhez adom 
        </a>
        <a class="btn btn-danger" id="delFavorit" style="display:none"
            v-bind:href="HREF('delfromfavorit',{'recept_id':recept.id})">
            <em class="fas fa-heart"></em>&nbsp;Kedvencekből törlöm 
        </a>
    </div>
    <div class="row likeLine">
        <hr />
        <div class="col-6">
            <var title="Mégsem tetszik"
                v-bind:class="'userlike_'+recept.userLike"
                v-if="((recept.userLike == true) & (loged > 0))"
                v-on:click="dislikeClick()">
                <em class="fas fa-thumbs-up" style="cursor:pointer"></em> 
            </var>
            <var title="Tetszik"
                v-bind:class="'userlike_'+recept.userLike"
                v-if="((recept.userLike == false) & (loged > 0))"
                v-on:click="likeClick()">
                <em class="fas fa-thumbs-up" style="cursor:pointer"></em> 
            </var>

            &nbsp;

            <a v-bind:href="HREF('likes',{'type':'recept','id':recept.id})" v-if="!recept.userLike & recept.likeCount > 0">
                {{ recept.likeCount }} Embernek tetszik
            </a>
            <a v-bind:href="HREF('likes',{'type':'recept','id':recept.id})" v-if="(recept.userLike & (recept.likeCount > 1))">
                Neked és még {{ likeCount1() }} embernek tetszik
            </a>
            <a v-bind:href="HREF('likes',{'type':'recept','id':recept.id})" v-if="(recept.userLike & (recept.likeCount <= 1))">
                Neked tetszik
            </a>
        </div>
        <hr />
    </div>
    <div style="display:none">
        <iframe id="hideIframe"></iframe>
    </div>
</div><!-- recept show -->

<div class="row comments">
    <h2 class="ribbon-banner"><span><em class="fas fa-comment"></em>&nbsp;{{ lng('COMMENTS') }}</span></h2>
    
    <div v-for="comment in comments" class="col-12 comment">
        <a v-bind:href="'index.php?task=comment&id='+comment.id">
            <p>
                <img v-bind:src="'images/users/'+comment.avatar" 
                    v-if="comment.avatar != ''"
                    style="height:32px; width:auto" />
                {{ comment.created_at }} 
                <strong v-bind:class="comment.group">
                    {{ comment.username }}
                </strong>
            </p>
            <p>{{ comment.msg }}</p>
            <div class="commentImages">
                <div v-if="comment.img0 > '0'" style="display:inline-block; width:auto; height:auto">
                    <img v-bind:src="'images/comments/'+comment.img0" />
                </div>     
                <div v-if="comment.img1 > '0'" style="display:inline-block; width:auto; height:auto">
                    <img v-bind:src="'images/comments/'+comment.img1" />
                </div>     
                <div v-if="comment.img2 > '0'" style="display:inline-block; width:auto; height:auto">
                    <img v-bind:src="'images/comments/'+comment.img2"  />
                </div>     
            </div>
        </a>
    </div>
    include paginator
    <div v-if="loged > 0">
        <a class="btn btn-primary" 
            v-bind:href="'index.php?task=commentadd&receptid='+recept.id">
            +<em class="fas fa-comment"></em>&nbsp;{{ lng('ADD') }}
        </a>
    </div>
    <div v-if="loged <= 0">{{ lng('ADD_MUST_LOGIN') }}</div>
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-secondary" v-bind:href="HREF('receptek',{'page':1})">
            <em class="fa fa-table"></em>&nbsp;Receptek listája
        </a>		
    </div>
</div>

<script>
var methods = {
        editClick() {
            this.recept.adag = this.origAdag;
            var i = 0;
            for (i=0; i < this.hozzavalok.length; i++) {
                if (parseFloat(this.hozzavalok[i].mennyiseg) > 0) {
                    this.hozzavalok[i].mennyiseg = 
                        (parseFloat(this.hozzavalok[i].mennyiseg) * this.recept.adag) / this.oldAdag;
                }  
            }
            document.getElementById('receptShow').style.display='none';
            document.getElementById('receptEdit').style.display='block';
            return false;
        },
        printClick(receptId) {
           location="index.php?task=receptprint&id="+receptId; 
        },
        makeName(txt,i) {
            return txt+i;
        },
        delClick() {
			popupConfirm('Bitos, törölni akarod ezt a receptet? ('+this.receptId+')', function() {
				document.location = 'index.php?task=receptdelete&id='+app.receptId;		
			});
		},
		okClick() {
            var jo = true;
			var id = this.recept.id;
			var nev = this.recept.nev;
			var i = 0;
			for (i=0; i< this.receptNevek.length; i++) {
				if ((this.receptNevek[i].nev == nev) &
				    (this.receptNevek[i].id != id)) {
				    jo = false;
                    popupMsg('Már van ilyen nevü recept! ', 'alert-danger');	
				}		
			}
			if (jo) {
				document.getElementById('receptForm').submit();		
			}	
		},
		processPaste() {
			var s = document.getElementById('paste').value;
			document.location='index.php?task=recept&id=0&url='+encodeURI(s);		
		},
        addHozzavalo() {
            var tableHozzavalok = document.getElementById('hozzavalokTable');
            var i = 0;
            var trHozzavalo = false;
            var newHozzavalo = false;
            var child = false;
            // meglévő hozzávalók megszámolása, első
            // hozzávaló div --> divHozzavalo
            child = tableHozzavalok.firstChild;
            while (child) {
                if (child.nodeName == 'TBODY') {
                    child = child.firstChild;
                }    
                if (child.nodeName == 'TR') {
                    i++;
                    if (!trHozzavalo) {
                        trHozzavalo = child;
                    }    
                }
                child = child.nextSibling;
            }
            if (!trHozzavalo) {
                console.log('Fatális hiba');
                return;  // fatális hiba
            }
            // új hozzávaló tr kialakitása
            newHozzavalo = trHozzavalo.cloneNode(true);
            child = newHozzavalo.firstChild;
            while (child) {
                if (child.nodeName == 'TD') {
                    child1 = child.firstChild;
                    while (child1) {
                        if (child1.nodeName == 'TEXTAREA') {
                            if (child1.id == 'hozzavalo0') {
                                child1.innerHTML = '';
                                child1.value = '';
                                child1.id = 'hozzavalo'+i;
                                child1.name = 'hozzavalo'+i;
                             }
                        }
                        if (child1.nodeName == 'INPUT') {
                            if (child1.id == 'mennyiseg0') {
                                child1.value = '';
                                child1.id = 'mennyiseg'+i;
                                child1.name = 'mennyiseg'+i;
                            }
                        }
                        if (child1.nodeName == 'INPUT') {
                            if (child1.id == 'me0') {
                                child1.value = '';
                                child1.id = 'me'+i;
                                child1.name = 'me'+i;
                            }    
                        }
                        child1 = child1.nextSibling;
                    }                    
                }
                child = child.nextSibling;
            }
            // új hozzavalo TR beillesztése a DOM -ba
            tableHozzavalok.appendChild(newHozzavalo);
        },
        afterMount() {
            if (this.recept == undefined) {
                return;
            }
            // fogalmam sincs róla miért, de az adag időnként undefined ?????
            if (this.recept.adag == undefined) {
                this.oldAdag = this.a;
                this.origAdag = this.a;
            } else {
                this.oldAdag = this.recept.adag;
                this.origAdag = this.recept.adag;
            }
            if (this.oldAdag == undefined) {
                this.oldAdag = 4;
                this.origAdag = 4;
            }
            if (this.recept.id == 0) {
                this.editClick();
            }
            for (var i=0; i<this.receptCimkek.length; i++) {
                if (document.getElementById(this.receptCimkek[i].cimke)) {
                    document.getElementById(this.receptCimkek[i].cimke).checked = true;
                } else {
                    console.log(' cimke hiba '+this.receptCimkek[i].cimke);
                }   
            }
            document.querySelector('meta[property="og:title"]').remove();
            document.querySelector('head').append('<meta property="og:title" content="'+this.recept.nev+'">');
        },
        round1(n) {
			// kerekités 2 tizedesjegyre
			return Math.round(n*100)/100;
		},
        likeCount1() {
            return this.recept.likeCount - 1;
        },
        adagPlusClick() {
            if (this.recept.adag > 0) {
                this.recept.adag = parseInt(this.recept.adag) + 1;
                var i = 0;
                for (i=0; i < this.hozzavalok.length; i++) {
                    if (parseFloat(this.hozzavalok[i].mennyiseg) > 0) {
                        this.hozzavalok[i].mennyiseg = 
                            this.round1((parseFloat(this.hozzavalok[i].mennyiseg) * this.recept.adag) / this.oldAdag);
                    }  
                }
                this.oldAdag = this.recept.adag;
            }    
        },
        adagMinusClick() {
            if (this.recept.adag > 1) {
                this.recept.adag = parseInt(this.recept.adag) - 1;
                var i = 0;
                for (i=0; i < this.hozzavalok.length; i++) {
                    if (parseFloat(this.hozzavalok[i].mennyiseg) > 0) {
                        this.hozzavalok[i].mennyiseg = 
                            this.round1((parseFloat(this.hozzavalok[i].mennyiseg) * this.recept.adag) / this.oldAdag);
                    }  
                }
                this.oldAdag = this.recept.adag;
            }
        },
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        },
        hozzavaloChange(id) {
            var ta = document.getElementById(id);
            var h = ta.innerHTML;
            ta.rows = (h.length / (app.innerWidth / 15)) + 1.4
        },
        likeClick() {
                if ((app.loged > 0) & (!app.recept.userLike)) {
                    app.recept.likeCount = app.recept.likeCount + 1;
                    app.recept.userLike = true;
                    document.getElementById('hideIframe').src = HREF('likesave',{'type':'recept','id':app.recept.id});
                }
        },
        dislikeClick() {
                if ((app.loged > 0) & app.recept.userLike) {
                    app.recept.likeCount = app.recept.likeCount - 1;
                    app.recept.userLike = false;
                    document.getElementById('hideIframe').src = HREF('likesave',{'type':'recept','id':app.recept.id});
                }
        }
};   

function adjust() {
    for (var i=0; i<30; i++) {
        var ta = document.getElementById('hozzavalo'+i);
        if (ta) {
            ta.style.height = ta.scrollHeight+'px';
        }
    }
    
    // fogalmam sincs róla miért, de a mennyiseg mezőt valami NaN -re irja át ?????
    // ezért van itt ez a buherálás
    for (var i=0; i<app.hozzavalok.length; i++) {
        app.hozzavalok[i].mennyiseg = app.hozzavalok[i].menny;
    }
    
    // az esetleges 0 recept.adag a számításokban bajt okozna
    if (app.recept.adag <= 0) {
		app.recept.adag = 4;
		app.oldAdag = 4;
		app.origAdag = 4;
	}
	
	// bejelentkezett user a kedvencekhez adhat, onnan törölhet
    if (app.loged > 0) {
        if (app.isFavorit) {
           document.getElementById('favorit').style.display='inline-block';
		   document.getElementById('delFavorit').style.display='inline-block';
        } else {
		    document.getElementById('addFavorit').style.display='inline-block';
        }    
	}
}
window.setTimeout("adjust()",1000);
</script>
