        <div id="receptList">
			<div class="row">
				<div class="col-12 col-md-9">
					<h1 class="ribbon-banner"><span>{{ lng('RECEPTS') }}</span></h1>
				</div>
				<div class="col-12 col-md-3">
					<a href="#" id="filterFormToggle" v-on:click="filterFormShow()"
						class="btn btn-secondary" style="margin-right:2px" v-bind:title="lng('SEARCH')">
						<em class="fa fa-search"></em>
					</a>
					<a v-bind:href="HREF('likewinners',{'type':'recept'})" 
						class="btn btn-primary"
						style="display:inline-block; width:auto; text-decoration:none">
						<em class="fas fa-signal"></em>&nbsp;Like bajnokság
					</a>
				</div>
			</div>
			<div id="divFilterForm" class="filterForm" style="display:none">
				<form method="get" action="index.php" id="filterForm" class="form">
					<input type="hidden" name="task" value="receptek" />
					<input type="hidden" name="page" value="1" />
					<div>
						<label>{{ lng('NAME_SUBSTR') }}:</label>
						<input type="text" name="filterstr" id="filterstr" 
							   v-model="filterStr" class="form-control"/>
					</div>
					<div>
						<label>{{ lng('LABEL') }}:</label>
						<select name="filtercimke" id="filtercimke" 
							   v-model="filterCimke" class="form-control">
							<option value=""></option>	   
							<option v-for="cimke in cimkek" 
								v-bind:value="cimke.cimke" v-html="getOptionLabel(cimke)"></option>
							</option>
						</select>	   
					</div>
					
					<div>
						<label>Feltöltő</label>
						<input type="text" name="filtercreator" id="filtercreator"
							v-model="filterCreator" class="form-control" />
					</div>		
					<div>
						<label>Feltöltés &ge;</label>
						<input type="date" name="filtercreated" id="filtercreated"
							v-model="filterCreated" class="form-control" />
						<button type="submit" class="btn btn-primary searchBtn">
								<em class="fa fa-search"></em>&nbsp;<span>{{ lng('SEARCH') }}</span></button>
						<button type="button" v-on:click="delFilter()" 
								v-bind:title="lng('CLEARFILTER')" class="btn btn-secondary">X</button>&nbsp;
						<a v-if="loged > 0" v-bind:href="HREF('favorites',{'page':1})" 
							class="btn btn-success">
							<em class="fa fa-heart"></em>&nbsp;Kedvencek</a>		
						<button v-if="loged <= 0" type="button" class="btn btn-secondary" disabled="disabled">
									<em class="fa fa-heart"></em>&nbsp;Kedvencek</button>		
					</div>	
				</form>
			</div>
			<div class="row" v-if="loged > 0">
				<div class="col-12">
					<a v-bind:href="HREF('recept',{id:0})" class="btn btn-primary">
						<em class="fas fa-plus-circle"></em>&nbsp;{{ lng('ADD') }}</a>
				</div>	
			</div>
			<div class="row">	
				<h5 class="fancy">
					<em class="fas fa-clock"></em>&nbsp;Új receptek
					&nbsp;
					<var style="cursor:pointer" v-if="newsOpened" v-on:click="newsTogle()">
						<em class="fas fa-sort-up"></em>
					</var> 
					<var style="cursor:pointer" href="#" v-if="!newsOpened" v-on:click="newsTogle()">
						<em class="fas fa-sort-down"></em>
					</var> 
				</h5>
				<div id="receptListTable" class="col-md-8" v-if="newsOpened" v-on:click="newsTogle">
					<table style="width:100%">
						<thead>
							<tr><td>ID</td><td>{{ lng('NAME') }}</td></tr>		
						</thead>
						<tbody>
							<tr v-for="item in news" class="makeTrClass(item)">
								<td>
									<a v-bind:href="HREF('recept',{id:item.id,title:encodeURI(item.nev)})">
										<var class="imgContainer">
											<img v-bind:id="'img_'+item.id" />
										</var>	
                                        <span class="id">{{ item.id }}</span>
                                        <div class="name">{{ item.nev }}</div>
										<div class="likeLine ratings">
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= LIKESIZE"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < LIKESIZE"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (2*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (2*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (3*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (3*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (4*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (4*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (5*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (5*LIKESIZE)"></i>
											&nbsp;{{ item.likeCount}} like
											&nbsp;
										</div>
										<var class="lattak">
											<em class="fa fa-eye" title="Látták"></em>{{ item.lattak }}
										</var>    
								</a>
								</td>
                            </tr>
						</tbody>
					</table>
			   </div>		
			</div>
			<div class="row">
				<h5 class="fancy">Receptek ABC sorrendben</h5>	
				<div id="receptListTable" class="col-md-8">
					<table style="width:100%">
						<thead>
							<tr><td>ID</td><td>{{ lng('NAME') }}</td></tr>		
						</thead>
						<tbody>
							<tr v-for="item in list" class="makeTrClass(item)">
								<td>
									<a v-bind:href="HREF('recept',{id:item.id,title:encodeURI(item.nev)})">
										<var class="imgContainer">
											<img v-bind:id="'img_'+item.id" />
										</var>			
										<em v-if="item.favorit" 
											style="margin-top:-20px; padding:2px; color:green; background-color:white; z-index:10"
											class="fas fa-heart"></em>
                                        <span class="id">{{ item.id }}</span>
                                        <div class="name">
											{{ item.nev }}
										</div>	
										<div class="likeLine ratings">
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= LIKESIZE"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < LIKESIZE"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (2*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (2*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (3*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (3*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (4*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (4*LIKESIZE)"></i>
											<i class="fa fa-star" aria-hidden="true" v-if="item.likeCount >= (5*LIKESIZE)"></i>
											<i class="fa fa-star none" aria-hidden="true" v-if="item.likeCount < (5*LIKESIZE)"></i>
											&nbsp;{{ item.likeCount}} like
										</div>
										<var class="lattak">
											<em class="fa fa-eye" title="Látták"></em>{{ item.lattak }}
										</var>    
									</a>
								</td>
                            </tr>
						</tbody>
					</table>
					<div class="d-none d-md-inline col-md-4">
						<img class="dekor" src="images/dekor1.jpg" class="dekorImg" />
					</div>	
				</div>
				include paginator
			</div>
			<p>{{ lng('RECEPTSHELP') }}</p>
			<div style="text-align:center" v-if="loged > 0">
				<a v-bind:href="HREF('recept',{id:0})" class="btn btn-primary">
					<em class="fas fa-plus-circle"></em>&nbsp;{{ lng('ADD') }}</a>
			</div>
			<div v-if="loged <= 0">{{ lng('ADD_MUST_LOGIN') }}</div>

		</div>	

<script>
    var methods = {
		afterMount() {
			this.newsOpened = false;
			// window.receptImages = [];
			window.onscroll = function() {window.scrollFunction(); app.scrollFunction()};
			window.setTimeout('app.scrollFunction()',1000);
		},
		filterFormShow() {
			var d = document.getElementById('divFilterForm');
			d.style.display = 'block';
			document.getElementById('filterFormToggle').style.display='none';
			return false;	
		},
		newsTogle() {
			this.newsOpened = !this.newsOpened;
			window.setTimeout('app.scrollFunction()',1000);
			return false;
		},
		makeTrClass(item) {
            trClass = '';
			if (item.created_by == this.loged) {
				trClass = 'sajat';
			} else {
				trClass = 'idegen';
			}
            return trClass;    
        },
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        },
		delFilter() {
					document.getElementById('filterstr').value = '';
					document.getElementById('filtercreator').value = '';
					document.getElementById('filtercreated').value = '';
					document.getElementById('filtercimke').value = '';
					document.getElementById('filterForm').submit();
		},
		loadImg1(w) {
			if (w) {
				if ((w.src == '') & (w.getBoundingClientRect().top <= window.innerHeight)) {
					w.src = siteurl+'/images/loader.gif';
					id = w.id.substring(4,100);
					axios.get(siteurl+'/index.php?task=getImage&id='+id)
					.then(function(response) {
						w.src = response.data.replace('\n','');
					})
				}
			}
		},
		getOptionLabel(cimke) {
			var result = '';
			for (var i=0; i<cimke.szint;i++) {
				result += '&nbsp;&nbsp;&nbsp;';
			}
			return result+cimke.cimke;
		},
		scrollFunction() {
			// szükség esteén a filter Form megjelenítése
			if ((app.filterStr != '') | 
			    (app.filterCimke != '') | 
				(app.filterCreator != '') |
				(app.filterCreated != '')) {
				app.filterFormShow();
			}
			// a recept képek betöltése
			imgs = document.images;
			for (var i = 0; i < imgs.length; i++) {
				if (imgs[i].id.substring(0,3) == 'img') {
					// var id = imgs[i].id.substr(3,100).replace('_','');
			 		app.loadImg1(imgs[i]);
				}	
			}
		}
    }

 </script>       
