		<div id="receptList">
			<div class="row">
				<h2>Receptek</h2>
			</div>	
			<div class="filterForm">
				<form method="get" action="index.php" id="filterForm">
					<input type="hidden" name="task" value="receptek" />
					<input type="hidden" name="page" value="1" />
					<div>
						<label>Név részlet:</label>
						<input type="text" name="filterstr" id="filterstr" 
							   v-model="filterStr" />
					</div>
					<div>
						<label>Cimke:</label>
						<select name="filtercimke" id="filtercimke" 
							   v-model="filterCimke" class="form-control">
							<option value=""></option>	   
							<option v-for="cimke in cimkek" v-bind:value="cimke">{{ cimke }}</option>
						</select>	   
					</div>
					
					<div>
						<label>Csak</label>
						<input type="text" name="filtercreator" id="filtercreator"
							v-model="filterCreator" /> által feltöltöttek
					</div>		
					<div>
						<label>Csak</label>
						<input type="date" name="filtercreated" id="filtercreated"
							v-model="filterCreated" /> után feltöltöttek
							<button type="submit">Szürés</button>
							<button type="button" v-on:click="delFilter()" title="szürés törlése">X</button>
					</div>	
				</form>
			</div>	
			<div class="row">	
				<div id="receptListTable" class="col-md-8">
					<table style="width:100%">
						<thead>
							<tr><td>ID</td><td>Megnevezés</td></tr>		
						</thead>
						<tbody>
							<tr v-for="item in list" class="makeTrClass(item)">
								<td><a v-bind:href="'?task=recept&id='+item.id">{{ item.id }}</a></td>
								<td><a v-bind:href="'?task=recept&id='+item.id">{{ item.nev }}</a></td>
                            </tr>    
						</tbody>
					</table>
				</div>
				<div class="d-none d-md-inline col-md-4">
					<img src="images/dekor1.jpg" class="dekorImg" />
				</div>	
                <p>Összesen: {{ total }}</p>
                <ul class="paginator">
                    <li v-for="p in pages" style="display:inline-block; width:auto">
                        <span :class="makePaginatorClass(p,page)">
                            <a v-bind:href="'index.php?task=receptek&page='+p" v-if="p != page">
                                {{ p }}
                            </a>
                            <strong v-if="p == page">{{ p }}</strong>
                        </span>&nbsp;
                    </li>
                </ul>	

			</div>
			<p>Kattints a recept nevére a megtekintéséhez, modosításhoz, törléséhez!</p>
			<div style="text-align:center" v-if="loged > 0">
				<a href="?task=recept&id=0" class="btn btn-primary">
					<em class="fas fa-plus"></em>&nbsp;Új recept</a>
			</div>
			<div v-if="loged <= 0">Recept felviteléhez be kell jelentkezni.</div>
		</div>	

<script>
    var methods = {
        makeTrClass(item) {
            trClass = '';
			if (item.created_by == this.loged) {
				trClass = 'sajat';
			} else {
				trClass = 'idegen';
			}
            return trClass;    
        },
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        },
		delFilter() {
					document.getElementById('filterstr').value = '';
					document.getElementById('filtercreator').value = '';
					document.getElementById('filtercreated').value = '';
					document.getElementById('filtercimke').value = '';
					document.getElementById('filterForm').submit();
		}
    }

 </script>       