<div id="sponzor">
    <h2>Ez a program ingyenesen használható. Szabadon másolható, terjeszthető.</h2>
    <p>A programot hobbyként, saját örömömre fejlesztettem.</p>
    <p>Természetesen ha hasznosnak tartod a munkámat, és ezt némi KP-vel 
        honorálni akarod, azt szivesen elfogadom. A legkisebb összegnek is örülök.</p>

    <div class="row">
        <div class="col-6">Átutalás okostelefonodon, QR-kodos fizetésre alakalmas app-ban:</div>
        <div class="col-6">
            <img src="images/sponzor.png" style="width:100%; max-width:250px" />
        </div>
    </div>
    <p><a href="https://paypal.me/Utopszkij?country.x=HU&locale.x=hu_HU">
            <img src="https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg">
        </a>
    </p>
    <p>
        <img src="https://iconarchive.com/download/i86029/graphicloads/100-flat-2/bank.ico" style="width:40px;"/>
        Banki átutalás: 11600006-00000000-23190212
    </p>
    <p><img src="https://dynamic-assets.coinbase.com/dbb4b4983bde81309ddab83eb598358eb44375b930b94687ebe38bc22e52c3b2125258ffb8477a5ef22e33d6bd72e32a506c391caa13af64c00e46613c3e5806/asset_icons/4113b082d21cc5fab17fc8f2d19fb996165bcce635e6900f7fc2d57c4ef33ae9.png" style="width:40px" />
        Ethereum számlaszám: 
        0x1238362672c19C3886e7E488A29B1F590D62f6AB
    </p>
</div>