<div id="sponzor">
    <h2>Ez a program ingyenesen használható. Szabadon másolható, terjeszthető.</h2>
    <p>A programot elsősorban hobbyként, saját örömömre fejlesztettem.</p>
    <p>Természetesen nagyon örülök ha valaki hasznosnak találja, használja. Ha a munkámat, és ezt egy csekély öszeggel
        honorálni akarod, azt szivesen elfogadom. A legkisebb összegnek is örülök.</p>
    <p>Átutaláshoz okostelefonodon, QR-kódos fizetésre alakalmas app-ban olvasd be az alábbi képet:</p>    
    <img src="images/sponzor.png" style="width:300px" /></p>
    <p>vagy utalj a 11600006-00000000-23190212 bankszámlára.</p>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Ethereum_logo_translucent.svg/220px-Ethereum_logo_translucent.svg.png" style="height:40px" />
      Ethereum számla:0x16Cb0EcA52abDace3bE2798725456d0A33DfB6E8</p>
    <p><img src="https://www.paypalobjects.com/webstatic/icon/pp258.png" style="height:40px" />Paypal: @Utopszkij</p>
    <p>Kérlek a közleményben ird meg, hogy a "Szakácskönyv" programot támogattad.
    </p>
</div>