<div id="sponzor">
    <h2>Ez a program ingyenesen használható. Szabadon másolható, terjeszthető.</h2>
    <p>A programot hobbyként, saját örömömre fejlesztettem.</p>
    <p>Természetesen ha hasznosnak tartod a munkámat, és ezt egy csekély öszeggel  
        honorálni akarod, azt szivesen elfogadom. A legkisebb összegnek is örülök.</p>
    <p>Átutaláshoz okostelefonodon, QR-kódos fizetésre alakalmas app-ban olvasd be az alábbi képet:</p>    
    <img src="images/sponzor.png" style="width:300px" />
    <p>Kérlek a közleményben ird meg, hogy a "Szakácskönyv" programot támogattad.
    </p>
</div>