<div id="userek">
    <div v-if="errorMsg != ''" class="alert alert-danger">
        <div v-html="errorMsg"></div>
    </div>
    <div v-if="successMsg != ''" class="alert alert-success">
        <div v-html="successMsg"></div>
    </div>
    
    <h2>Felhasználók</h2>
    <ul>
        <li v-for="record in items">
            <a v-bind:href="'index.php?task=useredit&id='+record.id" v-bind:class="record.group">
                {{ record.username }} {{ record.group }}</a> 
        </li>
    </ul>
    include paginator
</div>
<p>További lehetőségekért kattints a névre!</p>

<script>
    methods = {
        makePaginatorClass(p,page) {
            var result = '';
            if (p == page) {
                result="actPaginatorItem";
            } else {
                result="paginatorItem"
            }
            return result;
        }
    }
</script>
